<div class="container">
    <a [routerLink]="['/']" href="" id="header-logo-link">
        <img id="header-logo" src="../../../../public/img/staff/logo-t+a-dashboard.png" alt="Tech+Art Dashboard"/>
    </a>
    <div *ngIf="!hideGetStarted">
        <section *ngIf="isLoggedIn" id="user-controls">
            <a [routerLink]="['/accountSetting']" href="" id="profile-link" data-for="staff-account-settings">{{loggedInEmail}}</a>
            <a id="logout-link" (click)="logOut()">Logout</a>
        </section>
        <button *ngIf="!isLoggedIn" type="button" id="start-button" (click)="showLogin()">Get Started
        </button>
    </div>
</div>
