<nav class="simple-pagination">
    <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event" maxSize="5">
        <ul class="pagination-sm pagination-default pagination">
            <!--<li *ngIf="!p.isFirstPage()">
                <a (click)="p.setCurrent(1)">First</a>
            </li>--><!--
        --><li class="pagination-previous" [class.disabled]="p.isFirstPage()">
                <a *ngIf="!p.isFirstPage()" (click)="p.previous()">Previous</a>
            </li><!--
        --><li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
                <a (click)="p.setCurrent(page.value)">
                    <span *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
                </a>
                <a>
                    <span *ngIf="p.getCurrent() === page.value">{{ page.label }}</span>
                </a>
            </li><!--
        --><li class="pagination-next" [class.disabled]="p.isLastPage()">
                <a *ngIf="!p.isLastPage()" (click)="p.next()">Next</a>
            </li><!--
        --><!--<li *ngIf="!p.isLastPage()">
                <a (click)="p.setCurrent(p.getLastPage())">Last</a>
            </li>-->
        </ul>
    </pagination-template>
</nav>
<div class="results-per-page">
    Results per page
    <a class="per-page" [ngClass]="{'current': config.itemsPerPage===5 }" (click)="changeItemsPerPage(5)">5</a>
    <a class="per-page" [ngClass]="{'current': config.itemsPerPage===10 }" (click)="changeItemsPerPage(10)">10</a>
    <a class="per-page" [ngClass]="{'current': config.itemsPerPage===20 }" (click)="changeItemsPerPage(20)">20</a>
    <a class="per-page" [ngClass]="{'current': config.itemsPerPage===50 }" (click)="changeItemsPerPage(50)">50</a>
</div>
