#content {
	width: 100%;
	min-height: 750px;
	display: inline-block;
    position: relative;
	text-align: center;
}
#logo-este-404 {
	width: 362px;
	margin-top: 286px;
	padding: 0 25px 28px;
	display: inline-block;
	border-bottom: 1px dashed rgb(122, 119, 97);
}
#logo-este-404 > img {
	max-width: 312px;
}
#message-404 {
	padding-top: 26px;
	color: rgb(122, 119, 97);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 24px;
}
#home-link {
	color: rgb(222, 209, 166);
	text-decoration: underline;
}