/**
 * YS Reset CSS v1.3. 
 * 
 * Based on Eric Meyer's Reset CSS v2.0 - http://cssreset.com
 */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strong,sub,sup,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,summary,figcaption,figure,footer,header,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/* Box-sizing */
html {box-sizing:border-box;}
*, *::before, *::after {box-sizing:inherit;}
input, textarea, select, button {box-sizing:inherit;font-family:inherit;font-size:100%;} /* Ensure form elements inherit box-sizing and fonts */
input::-moz-focus-inner,button::-moz-focus-inner {padding:0;border:0} /* Strip extra button padding from FF */
details > * {box-sizing: border-box;} /* Ensure details/summary inherit box-sizing correctly (Webkit/Blink bug) */
a,a:hover{
	text-decoration:none;
}