﻿/************
 * Defaults *
 ************/
@font-face {
    font-family: 'Oxygen-regular';
    font-style: normal;
    font-weight: 400;
    src: url('../../font/oxygen-regular.woff2') format('woff2'), url('../../font/oxygen-regular.woff') format('woff');
}

@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 700;
    src: local('Oxygen Bold'), local('Oxygen-Bold'), url('../../font/oxygen-bold.woff2') format('woff2'), url('../../font/oxygen-bold.woff') format('woff');
}

html {
    min-width: 1024px;
    min-height: 672px;
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    min-width: 1024px;
    min-height: 100%;
    height: 100%;
    font-family: 'Oxygen', sans-serif;
    background: rgb(238, 238, 238);
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 14px;
}

.container {
    position: relative;
    margin: 0 auto;
    padding-left: 52px;
    padding-right: 52px;
    width: 1024px;
}

p {
    font-size: 14px;
    line-height: 21px;
}

table {
    width: 100%;
}

select {
    padding: 6px 20px 6px 6px;
    border-radius: 1px;
    border: 1px solid rgba(181, 205, 224, 0.5);
    color: rgb(181, 205, 224);
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../../img/select-icon.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    box-shadow: none;
}

/*******************
 *  Form Elements  *
 *******************/
form input.ng-invalid, form select.ng-invalid {
    box-shadow: none;
}

form {
    line-height: 0;
    padding: 20px;
    text-align: center;
}

input[type=text], input[type=email], input[type=password] {
    border: none;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

textarea {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    font-weight: bold;
    resize: none;
}

::-webkit-input-placeholder {
    color: rgb(181, 205, 224);
    opacity: 1;
}

::-moz-placeholder {
    color: rgb(181, 205, 224);
    opacity: 1;
}

:-ms-input-placeholder {
    color: rgb(181, 205, 224);
    opacity: 1;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

/**** Custom Checkbox ****/

input[type=checkbox] {
    height: auto !important;
    width: auto !important;
    position: absolute;
    left: auto;
    top: auto;
    opacity: 0;
    cursor: pointer;
}

input[type=checkbox] + label {
    width: auto;
    height: 21px;
    display: inline-block;
    vertical-align: top;
    margin: 8px 0 0 20px;
    padding-left: 25px;
    padding-right: 0;
    background-image: url('../../img/staff/sprite-checkbox.png');
    background-size: 15px 42px;
    background-repeat: no-repeat;
    line-height: 21px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-right: none;
}

input[type=checkbox]:checked + label {
    background-position: 0 -21px;
}

input[type=checkbox]:disabled + label {
    cursor: default;
}

/*!**** Custom Radio ****!*/
/*Commented by Aayush to show radio button @ staff-bus-type !*input[type=radio] {*/
/*display: none;*/
/*}*!*/

input[type=radio] + label {
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 15px;
    width: auto;
    height: 21px;
    background-image: url('../../img/staff/sprite-radio.png');
    background-position: 0 0;
    background-size: 15px 42px;
    background-repeat: no-repeat;
    line-height: 21px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=radio]:checked + label {
    background-position: 0 -21px;
}

input[type=radio]:disabled + label {
    cursor: default;
}

/* Custom range input */

input[type=range] {
    -webkit-appearance: none;
    padding: 0;
    width: 100%;
    background-color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -10px;
    height: 21px;
    width: 21px;
    border: none;
    border-radius: 50%;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    border: none;
}

input[type=range]::-moz-range-thumb {
    height: 21px;
    width: 21px;
    border: none;
    border-radius: 50%;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 21px;
    border: none;
    color: transparent;
    /*remove default tick marks*/
    box-shadow: 0 0 0 10px rgb(255, 255, 255) inset;
}

input[type=range]::-ms-fill-lower {
    box-shadow: 0 0 0 10px rgb(255, 255, 255) inset;
}

input[type=range]::-ms-thumb {
    height: 21px;
    width: 21px;
    border: none;
    border-radius: 50%;
    border-radius: 50%;
}

/*** Custom dropbox ****/

.dropbox {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    text-align: left;
    width: 520px;
}

.dropbox-select {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.dropbox-select:after {
    /* right arrow */
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-bottom: 1px;
    margin-left: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid;
}

.dropbox-options-list {
    display: none;
    /* change to inline-block when nec */
    vertical-align: top;
    position: relative;
    margin-top: -21px;
    width: 200px;
    /*background: linear-gradient(to bottom, rgba(255,255,255,0) 01, rgba(255,255,255,0.78) 21, rgba(255,255,255,1) 45, rgba(255,255,255,0.78) 72%, rgba(255,255,255,0) 100%); /* W3C */
    background-color: rgba(255, 255, 255, 0.9);
    text-align: left;
    box-shadow: 0 0 30px -11px rgba(0, 0, 0, 0.15);
}

.dropbox-option {
    display: block;
    padding: 10px;
    line-height: 21px;
    cursor: pointer;
}

/*** Button ****/

form > button {
    margin: 40px 20px 20px;
    min-width: 120px;
}

.form-message {
    height: 21px;
    line-height: 21px;
}

.form-message.error {
    color: rgb(239, 67, 60);
    float: right; /* red */
}

.results-per-page span {
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
    transition: 400ms;
}

.results-per-page span:first-child {
    cursor: default;
}

.results-per-page span:first-child:hover {
    color: #fff;
}

.results-per-page span:hover {
    color: rgb(24, 88, 159);
}

.results-per-page span .current {
    color: rgb(24, 88, 159);
}

/************
 *  Header  *
 ************/

header {
    position: relative;
    height: 100px;
}

#header-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 40px;
    cursor: pointer;
}

#start-button {
    position: absolute;
    top: 30px;
    right: calc(50% - 720px);
    width: 120px;
    height: 40px;
    font-size: 90%;
}

#header-logo-link {
    display: block;
    position: relative;
    width: 200px;
    height: 40px;
}

#header-logo-link > img {
    width: 100%;
}

#header-logo-link {
    position: relative;
}

#user-controls {
    position: absolute;
    line-height: 40px;
    top: 40px;
    right: 52px; /*display: none;*/
}

@media (min-width: 1600px) {
    /* Large Desktops - 1440px */
    #header-logo-link {
        position: absolute;
        top: 30px;
        left: calc(50% - 720px);
    }

    #user-controls {
        position: absolute;
        top: 45px;
        right: calc(50% - 720px);
    }
}

@media (max-width: 1599px) {
    /* Small Desktops - 920px */
    #header-logo-link {
        position: absolute;
        top: 30px;
        left: calc(50% - 460px);
    }

    #user-controls {
        position: absolute;
        top: 30px;
        right: calc(50% - 460px);
        padding: 10px 0;
    }

    #start-button {
        position: absolute;
        top: 30px;
        right: calc(50% - 460px);
    }
}

/*#profile-link {*/
/*background-position: right top;
background-repeat: no-repeat;
background-size: 20px 40px;*/
/*cursor: pointer;*/
/*display: inline-block;*/
/*font-size: 14px;
font-weight: bold;
line-height: 20px;*/
/*margin-left: 30px;*/
/*padding: 0 26px 0 0;*/
/*position: relative;
transition: none 0s ease 0s ;*/
/*vertical-align: top;*/
/*}*/

#profile-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    padding: 0 26px 0 0;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 20px 40px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
    -webkit-transition: none;
    transition: none;
    background: none;
    color: #fff;
}

#profile-link::after {
    content: " ";
    position: absolute;
    right: 0;
    top: 2px;
    background-image: url("../../img/staff/icon-gear-white.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

#profile-link:hover:after {
    background-image: url("../../img/staff/icon-gear.svg");
}

#profile-link:active {
    background-image: none !important;
    background-repeat: no-repeat;
}

#logout-link {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
    -webkit-transition: none;
    transition: none;
}

/************
 *  Content  *
 ************/

body, #content {
    /* background-color: rgb(255, 255, 255);*/
}

#content {
    background-color: rgb(238, 238, 238);
    visibility: visible;
    /* to be switched during page transition */
    position: relative;
    min-height: calc(100% - 229px);
    opacity: 1;
    /* to be switched during page transition */
    transition: opacity 0.15s;
}

#content.active {
    opacity: 1;
}

#content::after {
    /* pseudo overlay with loading spinner */
    content: "";
    visibility: hidden;
    /* to be switched during page transition */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#content.loading {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1ms 0.1s, opacity 0.1s; /* fade in duration */
}

#content.loading::after {
    visibility: visible;
    opacity: 1;
}

#content > section, #content > header, #content > footer {
    position: relative;
    margin: 0 auto 40px;
}

@media (min-width: 1600px) {
    /* Large Desktops - 1440px */
    #content {
        padding: 40px calc(50% - 720px);
    }

    #content > section, #content > header, #content > footer {
        width: 1440px;
    }
}

@media (max-width: 1599px) {
    /* Small Desktops - 920px */
    #content {
        padding: 40px calc(50% - 460px);
    }

    #content > section, #content > header, #content > footer {
        width: 920px;
    }
}

/*****************
 *  Breadcrumbs  *
 *****************/

/*.breadcrumbs {
    position: relative;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 40px;
}

.breadcrumb {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    padding: 15px 28px 15px 0;
    background-image: url('../../img/staff/breadcrumb-separator-B5CDE0.svg');
    background-image: url('../../img/staff/icon-crumbSeperator.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 15px 50px;
}*/

.breadcrumbs {
    display: inline-block;
    height: 46px;
    line-height: 44px;
    vertical-align: top;
}

.breadcrumbs {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
}

a.breadcrumb::after {
    background-image: url("../../img/staff/breadcrumb-separator-B5CDE0.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 44px;
    content: "";
    display: inline-block;
    height: 44px;
    vertical-align: top;
    width: 40px;
}

/*.breadcrumb.current {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
    margin-right: 0;
    background-image: none;
    cursor: default;
}*/
.breadcrumb.current {
    background-image: none;
    cursor: default;
    display: inline-block;
    /*margin-left: 4px;*/
    margin-right: 0;
    padding-right: 5px;
    vertical-align: top;
}

.breadcrumbs .download-button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    height: 15px;
    width: 15px;
    background-color: transparent;
    background-image: url('../../img/staff/sprite-icon-download.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 15px 30px;
}

.breadcrumbs .download-button:hover {
    background-position: right bottom;
}

/*** Search Form ***/

#search-form {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    line-height: inherit;
}

#search-text {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background-color: transparent;
    text-align: right;
    margin: 0 10px 0 0;
    padding: 0;
}

#search-button {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 16px;
    background-color: transparent;
    background-image: url('../../img/staff/sprite-icon-find.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px 32px;
    margin: 0;
    padding: 0;
    min-width: inherit;
}

#search-button:hover {
    /*background-position: center center;*/
    background-image: url('../../img/staff/search-18589F.svg');
}

/*** Back To Top ***/

#back-to-top-button {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 0;
    margin-right: 0;
    padding: 0;
    background: none;
    text-transform: capitalize;
    cursor: pointer;
}

#back-to-top-button:after {
    /* top arrow */
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-bottom: 1px;
    margin-left: 10px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid;
}

/******************
 * Result Section *
 ******************/

#result-section {
    position: relative;
    margin-bottom: 40px;
    border-radius: 5px;
}

#result-table {
    padding: 20px 20px 30px 20px;
    background-color: rgb(255, 255, 255);
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
}

#result-table tr {
    border-bottom: 1px solid rgb(246, 246, 246);
    cursor: pointer;
}

#result-table tr.hide {
    display: none;
}

#result-table thead tr th {
    display: table-cell;
    vertical-align: top;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    color: rgb(24, 88, 159);
}

.no-wrap {
    white-space: nowrap;
}

#result-table tbody tr td {
    padding: 10px 20px;
}

/*#result-table .sort-button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 5px;
    width: 10px;
    height: 16px;
    background-color: transparent;
    background-image: url('../../img/staff/sprite-icon-sort.png');
    background-repeat: no-repeat;
    background-size: 10px 32px;
    background-position: center top;
}*/
#result-table .sort-button {
    background-color: rgba(0, 0, 0, 0);
    /*display: inline-block;*/
    line-height: 40px;
    padding: 0;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}

#result-table .sort-button::after {
    color: rgb(181, 205, 224);
    content: "▲";
    display: inline-block;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 10px;
    margin-left: 10px;
    vertical-align: middle;
    width: 10px;
}

#result-table .sort-button[data-check="desc"]::after {
    content: "▼";
}

#result-table .sort-button:hover, #result-table .sort-button:hover:after, #result-table th.sortable.sort-selected::after {
    /*color: rgb(24, 88, 159);*/
}

#result-table .sort-button:hover {
    background-position: center bottom;
}

/*
.action {
    width: 50px;
    display: table;
}
*/
.add-row-btn {
    vertical-align: middle;
    margin-right: 20px;
    width: 17px;
    height: 20px;
    background-color: transparent;
    background-image: url('../../img/icons/add.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 17px 40px;
    opacity: 0.5;
    text-indent: -900px;
}

.delete-row-btn {
    vertical-align: middle;
    margin-right: 20px;
    width: 17px;
    height: 20px;
    background-color: transparent;
    background-image: url('../../img/icons/cross.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 17px 40px;
    opacity: 0.5;
    text-indent: -900px;
}

.delete-row-btn:hover, .add-row-btn:hover {
    background-color: transparent;
    background-position: center center;
    opacity: 1;
}

.delete-row-btn:focus, .add-row-btn:focus {
    background-color: transparent;
    background-position: center center;
    opacity: 1;
}

.addtd {
    padding: 0 !important;
    text-align: center;
}

.edit {
    vertical-align: middle;
    margin-right: 20px;
    width: 17px;
    height: 20px;
    background-color: transparent;
    background-image: url('../../img/staff/sprite-icon-edit.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 17px 40px;
    opacity: 0.5;
}

.edit:active {
    background-color: transparent;
}

.edit:hover {
    background-color: transparent;
    /*background-position: 0 -20px;*/
    background-position: center center;
    opacity: 1;
}

.read-mail {
    vertical-align: middle;
    margin-right: 20px;
    width: 17px;
    height: 20px;
    background-color: transparent;
    background-image: url('../../img/staff/sprite-icon-edit.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 17px 40px;
}

.read-mail:hover {
    background-color: transparent;
    background-position: 0 -20px;
}

.manage-image {
    vertical-align: middle;
    margin-right: 20px;
    width: 17px;
    height: 20px;
    background-color: transparent;
    background-image: url('../../img/staff/sprite-icon-manage-img.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 17px 40px;
}

.manage-image:hover {
    background-color: transparent;
    background-position: 0 -20px;
}

#result-table > tbody > tr:hover {
    background-color: rgb(246, 246, 246);
}

#result-table > tbody > tr:hover td {
    color: rgb(153, 153, 153);
}

/*#result-table > tbody > tr:hover .edit,
#result-table > tbody > tr:hover .delete,
#result-table > tbody > tr:hover .manage-image {
    display: inline-block;
}*/

#result-table > tbody > tr:hover .edit, #result-table > tbody > tr:hover .manage-image {
    display: inline-block;
}

.confirm-yes, .confirm-no {
    cursor: pointer;
}

td > h3 {
    color: rgb(24, 88, 159);
}

/*** Result Section > Pagination ***/

.simple-pagination {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 15px 10px;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.simple-pagination > .page-link, .simple-pagination > .current {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: rgb(255, 255, 255);
}

.results-per-page {
    position: relative;
    float: right;
    right: 0px;
    /*top: 0;*/
    padding: 15px 10px 15px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
}

.results-per-page > .per-page {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.results-per-page > .per-page:first-of-type {
    margin-left: 20px;
}

/******************************
 * Setting (Edit/Add) Section *
 ******************************/

.setting-section {
    margin-bottom: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 5px 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.setting-section > h2 {
    display: block;
    padding: 15px 0;
    border-radius: 5px 5px 0 0;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
}

.setting-section > form {
    position: relative;
    padding: 20px 30px 40px;
    text-align: center;
}

.setting-section > #form {
    position: relative;
    padding: 40px 0;
    text-align: center;
}

.setting-table tr {
    border-bottom: 1px solid rgb(238, 238, 238);
}

.setting-table tr:last-child {
    border: none;
}

.setting-table td {
    vertical-align: top;
    padding: 9px 0;
    line-height: 21px;
}

.setting-table td.label {
    padding-left: 20px;
    width: 180px;
    border-right: 1px solid rgb(238, 238, 238);
}

.setting-table td.input {
    padding-left: 0;
    padding-right: 0;
    width: 740px;
}

.setting-table input {
    width: 100%;
    height: 100%;
}

.setting-table textarea {
    width: 100%;
    height: 118px;
    line-height: 21px;
}

.longtextarea {
    height: 120px;
}

.setting-table input:not([type=radio]):not([type=checkbox]), .setting-table textarea {
    display: inline-block;
    vertical-align: top;
    width: 480px;
    /*    padding: 0 20px;*/
    color: rgb(24, 88, 159);
}

.setting-table label.error {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    color: rgb(239, 67, 60);
    float: right; /* red */
}

.setting-section button {
    display: inline-block;
    vertical-align: top;
    margin: 40px 19px 0;
    width: auto;
    height: 40px;
    padding: 0 40px 0 40px;
}

.setting-section button:last-child {
    margin: 40px 18px 0;
}

/************
 *  Footer  *
 ************/

footer {
    padding: 40px 0;
    min-height: 100px;
    height: 129px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}

#footer-logo img {
    display: block;
    margin: 0 auto 16px;
    width: 86px;
    cursor: pointer;
}

/* Dashboard: footer section */

.footer-section {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
    width: 320px;
    height: 164px;
    border-bottom: 1px solid rgb(218, 230, 240);
}

.footer-section:first-of-type, .footer-section:last-of-type {
    width: 300px;
}

.footer-section > h3 {
    margin-bottom: 20px;
    height: 40px;
    border-right: 1px solid rgb(218, 230, 240);
    border-top: 1px solid rgb(218, 230, 240);
    border-bottom: 1px solid rgb(218, 230, 240);
    line-height: 40px;
}

.footer-section:last-of-type > h3 {
    border-right: none;
}

.footer-section > a:link, .footer-section > a:visited {
    display: block;
    height: 28px;
    color: rgb(255, 255, 255);
    line-height: 28px;
}

/***** Loading Overlay *****/

#login-overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    display: none;
}

#login-overlay.active {
    display: block;
}

#login-overlay input[type="checkbox"] {
    width: 100% !important;
    height: 26px !important;
    top: 22px !important;
    left: 0;
}

#overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    /* in front of everything else */
    display: none;
    background-color: rgb(153, 153, 153);
}

#overlay.active {
    display: block;
}

#loading-ajax {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    /* in front of everything else */
    background-color: rgb(255, 255, 255);
}

#loading-ajax.active {
    display: block;
}

.loading-img {
    width: 128px;
    height: 128px;
    display: inline-block;
    position: fixed;
    top: calc(50% - 64px);
    left: calc(50% - 64px);
}

#popup-response {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    /* in front of everything else */
    background-color: rgb(153, 153, 153);
}

/* Custom File Input Section */
.image-preview-area, .image-small-preview-area {
    position: relative;
}

.image-preview-area, .image-small-preview-area {
    background-image: url("../../img/pat-checker.jpg");
    border: 1px solid rgb(181, 205, 224);
}

.image-preview-area > img, .image-small-preview-area > img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin: auto;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.image-preview-area, fieldset > .image-small-preview-area {
    display: inline-block;
    height: 400px;
    margin: 30px 20px 0 0;
    vertical-align: top;
    width: 400px;
}

.uploaded-name-holder {
    border-bottom: 1px solid rgb(238, 238, 238);
    border-top: 1px solid rgb(238, 238, 238);
    display: inline-block;
    margin: 20px 0 0;
    overflow: hidden;
    padding: 7px 0;
    position: relative;
    width: 100%;
    line-height: 28px;
}

.upload-instructions {
    display: inline-block;
    margin: 30px 20px 0 0;
    padding: 0;
    vertical-align: top;
    width: 400px;
}

.upload-instructions input[type="file"] {
    position: absolute;
    width: 180px !important;
    height: 40px;
    /*left: 0;*/
    opacity: 0;
    cursor: pointer;
    /*margin-left: -200px;*/
}

@media (min-width: 1600px) {
    .upload-instructions input[type="file"] {
        /*margin-left: -430px;*/
    }
}

.upload-instructions p {
    margin: 0 0 20px;
    text-align: left;
}

.uploaded-name-holder label {
    width: 30%;
    line-height: 28px
}

.uploaded-name-holder label, .uploaded-name-holder input {
    display: inline-block;
    padding: 0px;
    float: left;
}

.upload-instructions .uploaded-name-holder input[type="text"] {
    padding: 0 20px 0 0;
    width: 69%;
    height: 27px;
}

.imageUpload {
    margin-bottom: 30px;
}

.confirm-delete {
    /*background-color: rgb(255, 255, 255);*/
    color: rgb(24, 88, 159);
    display: block;
    left: 90px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;
}

.confirm-yes, .confirm-no {
    cursor: pointer;
}

.btn-delete {
    color: rgb(24, 88, 159);
    /*display: none;*/
    font-size: 16px;
    margin-left: 0;
    padding: 0 10px;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

input[disabled=""] {
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

input[type="file"] {
    /*  height: 0;
          opacity: 0;
          position: absolute;
          width: 0;*/
}

input[type="file"]:focus + label, input[type="file"] + label:hover {
    background-color: rgb(181, 205, 224);
    outline: medium none;
}

input[type="file"] + label {
    background-color: rgb(24, 88, 159);
    border: medium none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 40px;
    line-height: 39px;
    text-align: center;
    transition: background-color 0.1s ease 0s, box-shadow 0.1s ease 0s;
    white-space: nowrap;
    width: 180px;
}

output {
    bottom: 20px;
    color: rgb(24, 88, 159);
    font-size: 14px;
    font-style: italic;
    left: 50%;
    bottom: 20px;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

output.save-and-send {
    bottom: 60px;
    font-style: normal;
}

@media (min-width: 1600px) {
    .upload-instructions {
        width: 860px;
    }
}

/**********
 *  Main  *
 **********/
#main {
    visibility: visible; /* to be switched during page transition */
    position: relative;
    min-height: calc(100% - 229px);
    opacity: 1; /* to be switched during page transition */
    transition: opacity 0.15s;
}

#main::after { /* pseudo overlay with loading spinner */
    content: "";
    visibility: hidden; /* to be switched during page transition */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#main.loading {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1ms 0.1s, opacity 0.1s; /* fade in duration */
}

#main.loading::after {
    visibility: visible;
    opacity: 1;
}

#main > section, #main > header, #main > footer {
    position: relative;
    margin: 0 auto 40px;
}

@media (min-width: 1600px) {
    /* Large Desktops - 1440px */
    #main {
        padding: 40px calc(50% - 720px);
    }

    #main > section, #main > header, #main > footer {
        width: 1440px;
    }
}

@media (max-width: 1599px) {
    /* Small Desktops - 920px */
    #main {
        padding: 40px calc(50% - 460px);
    }

    #main > section, #main > header, #main > footer {
        width: 920px;
    }
}

/*CUSTOM PAGINATION
====================================*/
.pagination-sm.pagination-default.pagination.ng-isolate-scope.ng-valid .disabled a, .pagination-sm.pagination-default.pagination.ng-isolate-scope.ng-valid .active a {
    /*color: rgb(24, 88, 159);*/
    cursor: default;
}

.pagination-sm.pagination-default.pagination a {
    cursor: pointer;
}

.pagination-sm.pagination-default.pagination.ng-isolate-scope.ng-valid a {
    color: #fff;
}

.pagination-sm.pagination-default.pagination.ng-isolate-scope.ng-valid a:hover {
    color: rgb(24, 88, 159);
}

.pagination-sm.pagination-default.pagination.ng-isolate-scope.ng-valid li {
    display: inline-block;
    margin: 0 10px;
}

.pagination-sm.pagination-default.pagination.ng-isolate-scope.ng-valid li.active a {
    color: rgb(24, 88, 159);
}

.pagination-sm.pagination-default.pagination.ng-isolate-scope.ng-valid li:first-child, .pagination-sm.pagination-default.pagination.ng-isolate-scope.ng-valid li:last-child {
    display: none;
}

.pagination-default a:hover {
    color: #18589F !important;
}

.pagination li {
    display: inline-block;
    margin: 0 10px;
}

.pagination li.active a {
    color: rgb(24, 88, 159);
}

.pagination-previous.disabled, .pagination-next.disabled {
    display: inline-block;
}

.pagination-previous.disabled::before {
    content: "Previous";
}

.pagination-next.disabled::before {
    content: "Next";
}

/*===== Start Select 2 ====*/
.select2-container {
    min-width: 90px;
    left: -4px;
}

.select2-container .select2-choice {
    width: 250px;
    height: 41px;
    /*    margin: -9px 0;*/
    padding: 6px 20px 0 20px;
    border: medium none;
    box-shadow: none;
    background: transparent;
    color: rgb(24, 88, 159);
}

.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
    background: none;
    border: none;
}

.select2-container .select2-choice .select2-arrow {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 11px;
    top: 6px;
    bottom: 0;
    left: auto;
    margin: auto;
    background: rgba(0, 0, 0, 0) url("../../img/icons/down-arrow-18589F.svg") no-repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
}

.select2-container .select2-choice .select2-arrow b {
    display: none;
}

.select2-drop.select2-display-none.select2-with-searchbox.select2-drop-active {
    border: 1px solid #f2f2f2;
    box-shadow: none;
    border-radius: 0px;
}

/*.select2-drop {
    margin-top: 9px;
}*/

.select2-search {
    display: none;
}

.select2-results {
    margin: 0;
    padding: 0;
}

.select2-results .select2-result-label {
    font-family: "Oxygen-Regular";
    font-size: 14px;
    font-weight: 700;
    height: 42px;
    padding: 12px 20px 0 25px;
    color: rgb(181, 205, 224);
}

.select2-results .select2-highlighted .select2-result-label {
    background: rgb(181, 205, 224);
    color: rgb(24, 88, 159);
}

/*#add-module .select2-container.select2-container-multi ,
#edit-module .select2-container.select2-container-multi,
#edit-table .select2-container.select2-container-multi,
#add-table .select2-container.select2-container-multi {
    width: 100%;
}
*/
.setting-table td.select2-inputfield {
    padding: 0;
    position: relative;
}

/*.select2-choices input {
    padding: 0 !important;
}*/
/*===== End Select 2 ====*/

/*Table text overflow*/
.overflow-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
}

/* - - - - - Table Overflow - - - - - */

@media (max-width: 1599px) {
    .table-overflow {
        overflow-x: scroll;
    }
}

/* - - - - - Edit Dispute Fixes - - - - - */

#edit-dispute-fix {
    margin: 0;
}

#edit-dispute-fix tbody {
    border: 1px solid rgb(238, 238, 238);
    margin: 0;
    padding: 5px 0 0;
    display: block;
}

#edit-dispute-fix tr {
    border: none;
    display: block;
}

#edit-dispute-fix tr td table thead tr th:first-child, #edit-dispute-fix tr td table tbody tr td:first-child {
    width: 152px;
}

#edit-dispute-fix tr td table thead tr th:nth-child(2), #edit-dispute-fix tr td table tbody tr td:nth-child(2) {
    width: 140px;
}

#edit-dispute-fix tr td table thead tr th:nth-child(3), #edit-dispute-fix tr td table tbody tr td:nth-child(3) {
    width: 114px;
    word-break: break-all;
}

#edit-dispute-fix tr td table thead tr th:nth-child(4), #edit-dispute-fix tr td table tbody tr td:nth-child(4) {
    width: 123px;
}

#edit-dispute-fix tr td table thead tr th:nth-child(5), #edit-dispute-fix tr td table tbody tr td:nth-child(5) {
    width: 146px;
}

#edit-dispute-fix tr:nth-child(2) > td {
    width: 100%;
    padding: 0;
}

#edit-dispute-fix tr td table thead tr {
    background-color: rgb(181, 205, 224);
    margin: 0;
}

#edit-dispute-fix tr td table thead tr th {
    padding: 10px 13px;
    color: #fff;
}

#edit-dispute-fix tr td table tbody {
    margin: 0;
    padding: 0;
    border: none;
}

#edit-dispute-fix tr td table tbody tr {
    background-color: rgb(238, 238, 238);
}

#edit-dispute-fix tr td table tbody tr td {
    padding: 10px 13px;
}

#edit-dispute-fix th {
    display: inline-block;
    padding: 12px 19px;
}

#edit-dispute-fix td {
    display: inline-block;
    padding: 12px 19px;
    color: rgb(24, 88, 159);
}

#remarks {
    padding: 5px 20px;
}

/* - - - - - Pop Up Fixes - - - - - */
.error {
    padding: 25px 0 0;
}

.swal2-title {
    background: #18589f none repeat scroll 0 0;
    color: #fff !important;
    font-size: 16px !important;
    left: 0;
    line-height: 40px !important;
    position: absolute !important;
    top: 0;
    width: 100%;
    font-family: 'Oxygen', sans-serif !important;
}

.error span, .swal2-content span {
    width: 100%;
    display: inline-block;
    padding: 5px;
    color: rgb(23, 84, 153);
    font-size: 14px;
}

.swal2-content {
    padding: 25px 0 0 0 !important;
    font-size: 14px !important;
    color: rgb(23, 84, 153) !important;
    font-family: "Oxygen-Regular" !important;
}

.swal2-modal {
    padding: 40px !important;
}

.sa-button-container {
    margin: 0 0 20px;
}

.sweet-alert .sa-confirm-button-container {
    display: inline-block;
    position: relative;
}

.sweet-alert button, .swal2-container button {
    background-color: #8CD4F5;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 14px !important;
    /* font-weight: 500; */
    -webkit-border-radius: 3px;
    border-radius: 3px;
    line-height: 40px !important;
    width: 70px;
    font-weight: bold;
    font-family: "Oxygen", sans-serif;
    margin: 26px 5px 0 5px;
    padding: 0 !important;
    cursor: pointer;
    text-transform: capitalize !important;
}

.pulseWarningIns {
    display: none;
}

.sweet-alert .sa-icon.sa-warning .sa-body {
    width: 5px !important;
    height: 19px !important;
    background-color: #F8BB86;
}

.sweet-alert .sa-icon.sa-warning .sa-dot {
    width: 7px !important;
    height: 7px !important;
    background-color: #18589F;
}

@keyframes pulseWarning {
    0% {
        border-color: #B5CDE0 !important;
    }
    100% {
        border-color: #18589F !important;
    }
}

.verificationStatus {
    display: inline-block;
    vertical-align: middle;
    color: rgb(24, 88, 159);
    padding: 0 20px;
}

button.verify-btn {
    position: absolute;
    right: 30px;
    top: 20px;
    height: 30px;
    margin: 0;
    line-height: 32px;
}

.language-selection {
    text-align: left;
    margin: 0 auto 10px;
    padding: 0 0 0 145px;
}

.language-selection input[type=checkbox] + label {
    margin: 0;
    display: inline-block;
}

/*****************
 * Fieldset elements *
 *****************/

label {
    color: rgb(181, 205, 224);
}

label, select, input, textarea {
    background-color: rgb(255, 255, 255);
    border: medium none;
    box-shadow: none;
    margin: 0;
    opacity: 1;
    outline: medium none;
    padding: 0 20px;
    text-align: left;
}

fieldset {
    display: block;
    padding: 0;
    text-align: left;
}

fieldset > label, fieldset > select, fieldset > input, fieldset > textarea {
    line-height: 20px;
    padding: 9.5px 20px;
    text-align: left;
}

form.hide, form label.hide, form input.hide, form select.hide, form textarea.hide {
    display: none;
}

fieldset > label, fieldset > input, fieldset > select, fieldset > textarea, fieldset > output {
    display: inline-block;
    vertical-align: top;
}

fieldset > label, fieldset > input, fieldset > select {
    height: 40px;
}

fieldset > textarea {
    height: 100px;
}

label[for="textarea"] {
    height: 100px;
}

fieldset > output {
    height: 40px;
}

fieldset > .upload-instructions > output {
    display: block;
}

form > output {
    display: block;
    border-bottom: none;
}

fieldset > .document-preview-area > a {
    display: block;
    height: 100%;
    width: 100%;
}

fieldset > label {
    border-right: 1px solid rgb(238, 238, 238);
}

fieldset {
    border-bottom: 1px solid rgb(238, 238, 238);
}

fieldset.last-child {
    border-bottom: none !important;
}

fieldset.longlabel {
    height: 120px;
}

fieldset.longlabel label {
    height: 100%
}

@media (min-width: 1600px) {
    /* Large Desktops - 1440px */
    fieldset {
        width: 1380px;
    }

    fieldset > label {
        width: 230px;
    }

    fieldset > input, fieldset > select, fieldset > textarea {
        width: 800px;
    }

    fieldset > output {
        width: 330px;
    }

    form > output {
        width: 100%;
    }

    fieldset > .document-preview-area, fieldset > .image-preview-area, fieldset > .uploads-wraper, fieldset > .upload-instructions {
        display: inline-block;
        vertical-align: top;
        margin: 40px 20px 40px 0;
    }

    fieldset > .document-preview-area {
        width: 420px;
        height: 210px;
    }

    fieldset > .image-preview-area, fieldset > .image-small-preview-area {
        width: 420px;
        height: 420px;
    }

    fieldset > .uploads-wraper, fieldset > .upload-instructions {
        width: 860px;
    }

    .select2-container-multi {
        /*width: 860px;*/
        min-width: 240px;
        max-width: 860px;
    }
}

@media (max-width: 1599px) {
    /* Small Desktops - 920px */
    .select2-container-multi {
        min-width: 240px;
        max-width: 630px;
    }

    fieldset {
        width: 860px;
    }

    fieldset > label {
        width: 200px;
    }

    fieldset > input, fieldset > select, fieldset > textarea {
        width: 480px;
    }

    fieldset > output {
        width: 200px;
    }

    form > output {
        width: 100%;
    }

    fieldset > .document-preview-area, fieldset > .image-preview-area, fieldset > .image-small-preview-area, fieldset > .uploads-wraper, fieldset > .upload-instructions {
        display: inline-block;
        vertical-align: top;
        margin: 40px 20px 40px 0;
    }

    fieldset > .document-preview-area {
        width: 400px;
        height: 200px;
    }

    fieldset > .image-preview-area, fieldset > .image-small-preview-area {
        width: 400px;
        height: 400px;
    }

    fieldset > .uploads-wraper, fieldset > .upload-instructions {
        width: 400px;
    }
}

/***Multi Select***/
.select2-container-multi .select2-choices {
    border: none;
    line-height: 30px;
    background: none;
    padding: 0 40px 0 20px;
    /*	background:url("../../img/icons/down-arrow-18589F.svg") no-repeat;
        background-position:97% 16px;
        background-size:10px;*/

    overflow: inherit;
}

.select2-container-multi.select2-container-active .select2-choices {
    box-shadow: none;
    border: none;
}

.select2-drop, .select2-drop-active {
    box-shadow: none;
    border: 1px solid rgb(238, 238, 238);
    border-top: none;
}

.select2-drop-active {
    box-shadow: none;
    border: 1px solid rgb(238, 238, 238);
}

.select2-container-multi .select2-choices .select2-search-choice {
    min-height: 32px;
    line-height: 20px;
    background: none;
}

.select2-search-choice-close {
    top: 7px;
}

.select2-container-multi .select2-choices .select2-search-field input {
    height: 40px;
    padding: 9.5px 20px 9.5px 5px;
    background: url("../../img/icons/down-arrow-18589F.svg") no-repeat;
    background-position: 97%;
    background-size: 10px;
    cursor: pointer;
    font-family: 'Oxygen', sans-serif;
    width: 220px !important;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}

#error, #edit-error {
    display: none;
}

/***Buttont***/

.enquiry {
    padding: 20px 40px;
}

/* - - - - - table fixes - - - - - */

.sub-table {
    margin: 0 0 0 -3px;
    width: 100.3%;
    border-left: 1px solid rgb(238, 238, 238);
}

.sub-table input {
    width: 100% !important;
    line-height: 20px;
    padding: 9.5px 0;
}

.sub-table label {
    line-height: 39px;
    display: block;
    background: none;
    color: #fff;
}

.sub-table > label, .sub-table > input, .sub-table > select {
    height: 40px;
}

.sub-table thead tr {
    border-bottom: 1px solid rgb(238, 238, 238) !important;
}

.sub-table thead tr {
    border-bottom: 1px solid rgb(238, 238, 238);
}

.sub-table button {
    margin: 5px 0 0 0 !important;
    width: 30px;
    height: 30px;
    padding: 0;
    line-height: 30px;
}

.sub-table th, .sub-table td {
    border-right: 1px solid rgb(238, 238, 238);
    line-height: 39px;
}

.sub-table td {
    padding: 0 0 0 20px;
    color: rgb(24, 88, 159);
}

.sub-table th {
    background: #B5CDE0;
}

.table-block {
    display: inline-block;
    width: 656px;
}

@media (min-width: 1600px) {
    .table-block {
        display: inline-block;
        width: 1146px;
    }
}

/*input[type="checkbox"] + label + span{
	display:none;
}*/

.ng-valid + span, .error-msg {
    position: absolute;
    left: 40px;
    width: 200px;
    height: 30px;
    background: red;
    margin-top: -40px;
    line-height: 30px;
    color: white;
}

input[type="checkbox"].css-checkbox {
    position: relative;
    left: 26px;
    top: 12px;
    z-index: 1;
}

input[type="checkbox"].css-checkbox + label {
    margin-left: 8px;
    padding: 0 0 0 20px;
}