<div id="content">
    <div id="top">
        <div class="breadcrumbs">
            <a class="breadcrumb active-link" [routerLink]="['/dashboard']" href="">Overview</a>
            <span class="breadcrumb current">Account Settings</span>
        </div>

        <section class="setting-section">
            <h2>Edit account information</h2>
            <form name="accountInfo" (submit)="_saveAccountInfo()">
                <div class="form-message"></div>
                <div class="setting-table">
                    <fieldset>
                        <label for="firstName">Name</label>
                        <input id="firstName" name="firstName" placeholder="Change First Name" type="text"
                               [(ngModel)]="objStaffUser.FirstName">
                    </fieldset>
                    <fieldset>
                        <label for="phone">Phone Number</label>
                        <input id="phone" name="phone" placeholder="Change Phone Number" type="text"
                               [(ngModel)]="objStaffUser.Phone">
                    </fieldset>
                    <fieldset>
                        <label for="email">Email</label>
                        <input id="email" name="email" placeholder="Change Email" type="email" readonly="readonly"
                               [(ngModel)]="objStaffUser.Email">
                    </fieldset>
                    <button class="save-btn" type="submit" [disabled]="_savingAccountInfo">
                        Save
                    </button>
                    <button type="reset" class="undo-btn" (click)="_cancelAccountInfo()">Cancel</button>
                    <output class="edit-info-loader" *ngIf="_savingAccountInfo">Please Wait...</output>
                    <output class="edit-info-loader" *ngIf="_savedAccountInfo">Save Successful!!!</output>
                </div>
            </form>
        </section>
        <section class="setting-section">
            <h2>Change Password</h2>
            <form id="change-password-form" (submit)="_changePassword()">
                <div class="form-message" id="change-password-form-message"></div>
                <div id="edit-change-password-table" class="setting-table">
                    <fieldset>
                        <label>Current Password</label>
                        <input [(ngModel)]="objChangePassword.OldPassword" name="oldPassword" type="password">
                    </fieldset>
                    <fieldset>
                        <label>New Password</label>
                        <input [(ngModel)]="objChangePassword.NewPassword" name="newPassword" type="password">
                    </fieldset>
                    <fieldset>
                        <label>Confirm Password</label>
                        <input [(ngModel)]="objChangePassword.ConfirmPassword" name="confirmPassword" type="password">
                    </fieldset>
                    <button class="save-btn" type="submit" [disabled]="_savingPasswordChange">
                        Save
                    </button>
                    <button type="reset" class="undo-btn" (click)="_cancelPasswordChange()">Cancel</button>
                    <output class="edit-info-loader" *ngIf="_savingPasswordChange">Please Wait...</output>
                    <output class="edit-info-loader" *ngIf="_savedChangePassword">Password changed successfully. Logging
                        out...
                    </output>
                </div>
            </form>
        </section>

        <div class="breadcrumbs">
            <a class="breadcrumb active-link" [routerLink]="['/dashboard']" href="">Overview</a>
            <span class="breadcrumb current">Account Settings</span>
            <a id="back-to-top-button" pageScroll href="#top">Back to Top</a>
        </div>
    </div>
</div>
<button #goToTop pageScroll href="#top" hidden>Back to Top</button>
