<div id="content">
    <div id="top">
        <div class="breadcrumbs">
            <a class="breadcrumb active-link" [routerLink]="['/dashboard']" href="">Overview</a>
            <span class="breadcrumb current">
        Events
      </span>
            <form id="search-form">
                <input name="searchQuery" id="search-text" placeholder="Search Here" type="text"
                       [(ngModel)]="searchQuery">
                <button id="search-button" type="submit" (click)="filterEvent()"></button>
            </form>
        </div>
        <section id="result-section">
            <custom-pagination #topPagination>
            </custom-pagination>
            <table id="result-table">
                <thead>
                <tr *ngIf="loadingData">
                    <th colspan="7">Loading...</th>
                </tr>
                <tr *ngIf="!loadingData">
                    <th (click)="sort(0)" class="message">
                        <a class="sort-button" [attr.data-check]="sortIcon.EventName">Name</a>
                    </th>
                    <th (click)="sort(1)">
                        <a class="sort-button" [attr.data-check]="sortIcon.EventDate">Date</a>
                    </th>
                    <th (click)="sort(2)">
                        <a class="sort-button" [attr.data-check]="sortIcon.EventFrom">Time</a>
                    </th>
                    <th (click)="sort(3)">
                        <a class="sort-button" [attr.data-check]="sortIcon.Venue">Venue</a>
                    </th>
                    <th (click)="sort(4)">
                        <a class="sort-button" [attr.data-check]="sortIcon.CourseFee">Course Fee</a>
                    </th>
                    <th (click)="sort(5)">
                        <a class="sort-button" [attr.data-check]="sortIcon.DisplayPriority">Is Featured?</a>
                    </th>
                    <th class="action">

                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let objData of objEventList | paginate: config" (click)="editData(objData)">
                    <td>{{objData.EventName}}</td>
                    <td>{{objData.EventDate}}</td>
                    <td>{{objData.EventFrom + ' - ' + objData.EventTo}}</td>
                    <td>{{objData.Venue}}</td>
                    <td>{{objData.CourseFee}}</td>
                    <td *ngIf="objData.DisplayPriority==1">Yes</td>
                    <td *ngIf="objData.DisplayPriority==0">No</td>
                    <td class="action">
                        <button class="edit"></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <custom-pagination #bottomPagination>
            </custom-pagination>
        </section>
        <!-- Edit Section -->
        <div id="editSectionWrapper">
            <div [hidden]="!objEventEdit.ID!=0">
                <section class="setting-section" id="editSection">
                    <h2>Edit Event</h2>
                    <form name="edit" (ngSubmit)="saveEditData()">
                        <div class="setting-table">
                            <fieldset>
                                <label>Name</label>
                                <input type="text" name="EventName" [(ngModel)]="objEventEdit.EventName">

                            </fieldset>
                            <fieldset>
                                <label>Date</label>
                                <input type="text" name="EventDate" placeholder="dd-mm-yyyy"
                                       [(ngModel)]="objEventEdit.EventDate">

                            </fieldset>
                            <fieldset>
                                <label>From Time</label>
                                <input type="text" name="EventFromTime" placeholder="hh:mm"
                                       [(ngModel)]="objEventEdit.EventFrom">

                            </fieldset>
                            <fieldset>
                                <label>To Time</label>
                                <input type="text" name="EventToTime" placeholder="hh:mm"
                                       [(ngModel)]="objEventEdit.EventTo">

                            </fieldset>
                            <fieldset class="longlabel">
                                <label>Description</label>
                                <textarea placeholder="(Max. 512 characters)" name="EventDescription"
                                          [(ngModel)]="objEventEdit.Description"></textarea>
                            </fieldset>
                            <fieldset>
                                <label>Venue</label>
                                <input type="text" name="Venue" [(ngModel)]="objEventEdit.Venue">

                            </fieldset>
                            <fieldset>
                                <label>Latitude</label>
                                <input type="text" name="Latitude" [(ngModel)]="objEventEdit.Latitude">

                            </fieldset>
                            <fieldset>
                                <label>Longitude</label>
                                <input type="text" name="Longitude" [(ngModel)]="objEventEdit.Longitude">

                            </fieldset>
                            <fieldset>
                                <label>Course Fee</label>
                                <input type="text" name="CourseFee" [(ngModel)]="objEventEdit.CourseFee">

                            </fieldset>
                            <fieldset class="longlabel">
                                <label>Remarks</label>
                                <textarea type="text" name="Remarks" [(ngModel)]="objEventEdit.Remarks"
                                          [maxLength]="140" placeholder="(Max. 140 characters)"></textarea>
                            </fieldset>
                            <fieldset>
                                <label>Is Featured?</label>
                                <input type="checkbox" class="css-checkbox" name="DisplayPriority"
                                       [(ngModel)]="editEventDisplayPriority">
                                <label>
                                    <span *ngIf="editEventDisplayPriority">Yes</span>
                                    <span *ngIf="!editEventDisplayPriority">No</span>
                                </label>
                            </fieldset>
                            <fieldset class="last-child">
                                <file-upload #uploadComponentEdit (pdfUploaded)="uploadEditPdf($event)"
                                             (imageUploaded)="uploadEditImage($event)"></file-upload>
                            </fieldset>

                            <button class="save-btn" type="submit"
                                    [disabled]="savingEditData || editAndSendEmailConfirm">
                                Save
                            </button>
                            <button [class.hiddenButton]="editAndSendEmailConfirm" class="save-send-btn" type="button"
                                    [disabled]="savingEditData || editAndSendEmailConfirm || !editEventDisplayPriority"
                                    (click)="saveEditDataAndSendEmail()">
                                Save and Send
                            </button>
                            <button type="button" class="undo-btn" (click)="undoEdit()">Cancel</button>
                            <output class="edit-info-loader" *ngIf="savingEditData">Please Wait...</output>
                            <output class="save-and-send"
                                    *ngIf="editAndSendEmailConfirm">
                                Send to all members? <i class="confirm-yes" (click)="confirmEditAndSendEmail()"> Y</i> /
                                <i
                                        class="confirm-no"
                                        (click)="toggleEditAndSendEmailConfirm()">N</i>
                            </output>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        <!-- Add Section -->
        <section class="setting-section" id="addSection">
            <h2>Add Event</h2>
            <form name="add" (submit)="saveAddData()">
                <div class="setting-table">
                    <fieldset>
                        <label>Name</label>
                        <input type="text" name="EventName" [(ngModel)]="objEventAdd.EventName">
                    </fieldset>
                    <fieldset>
                        <label>Date</label>
                        <input type="text" name="EventDate" placeholder="dd-mm-yyyy"
                               [(ngModel)]="objEventAdd.EventDate">
                    </fieldset>
                    <fieldset>
                        <label>From Time</label>
                        <input type="text" name="EventFromTime" placeholder="hh:mm" [(ngModel)]="objEventAdd.EventFrom">

                    </fieldset>
                    <fieldset>
                        <label>To Time</label>
                        <input type="text" name="EventToTime" placeholder="hh:mm" [(ngModel)]="objEventAdd.EventTo">

                    </fieldset>
                    <fieldset class="longlabel">
                        <label>Description</label>
                        <textarea placeholder="(Max. 512 characters)" name="EventDescription"
                                  [(ngModel)]="objEventAdd.Description"></textarea>
                    </fieldset>
                    <fieldset>
                        <label>Venue</label>
                        <input type="text" name="Venue" [(ngModel)]="objEventAdd.Venue">

                    </fieldset>
                    <fieldset>
                        <label>Latitude</label>
                        <input type="text" name="Latitude" [(ngModel)]="objEventAdd.Latitude">

                    </fieldset>
                    <fieldset>
                        <label>Longitude</label>
                        <input type="text" name="Longitude" [(ngModel)]="objEventAdd.Longitude">

                    </fieldset>
                    <fieldset>
                        <label>Course Fee</label>
                        <input type="text" name="CourseFee" [(ngModel)]="objEventAdd.CourseFee">

                    </fieldset>
                    <fieldset class="longlabel">
                        <label>Remarks</label>
                        <textarea placeholder="(Max. 140 characters)" name="Remarks"
                                  [(ngModel)]="objEventAdd.Remarks" [maxLength]="140"></textarea>
                    </fieldset>
                    <fieldset>
                        <label>Is Featured?</label>
                        <input type="checkbox" class="css-checkbox" name="DisplayPriority"
                               [(ngModel)]="addEventDisplayPriority">
                        <label>
                            <span *ngIf="addEventDisplayPriority">Yes</span>
                            <span *ngIf="!addEventDisplayPriority">No</span>
                        </label>
                    </fieldset>
                    <fieldset class="last-child">
                        <file-upload #uploadComponentAdd (pdfUploaded)="uploadAddPdf($event)"
                                     (imageUploaded)="uploadAddImage($event)"></file-upload>
                    </fieldset>

                    <button class="save-btn" type="submit" [disabled]="savingAddData || saveAndSendEmailConfirm">
                        Save
                    </button>
                    <button [class.hiddenButton]="saveAndSendEmailConfirm" class="save-send-btn" type="button"
                            [disabled]="savingAddData || saveAndSendEmailConfirm || !addEventDisplayPriority"
                            (click)="saveAddDataAndSendEmail()">
                        Save and Send
                    </button>
                    <button type="button" class="undo-btn" (click)="cancelAdd()">Cancel</button>
                    <output class="edit-info-loader" *ngIf="savingAddData">Please Wait...</output>
                    <output class="save-and-send" *ngIf="saveAndSendEmailConfirm">
                        Send to all members? <i class="confirm-yes" (click)="confirmSaveAndSendEmail()"> Y</i> /
                        <i
                                class="confirm-no"
                                (click)="toggleSaveAndSendEmailConfirm()">N</i>
                    </output>
                </div>
            </form>
        </section>
        <div class="breadcrumbs">
            <a class="breadcrumb active-link" [routerLink]="['/dashboard']" href="">Overview</a>
            <span class="breadcrumb current">
        Events
      </span>
            <a id="back-to-top-button" pageScroll href="#top">Back to Top</a>
        </div>
    </div>
</div>
<!-- To trigger scroll on data save. -->
<button #aftersave pageScroll href="#top" hidden>Back to Top</button>
