<div class="container">
    <a id="footer-logo" href="http://www.techplusart.com">
        <img src="../../../../public/img/staff/logo-t+a.png" alt="Tech + Art">
    </a>
    Making stuff simple since 2012.
</div>