<div id="content">
    <div id="top">
        <div class="breadcrumbs">
            <a class="breadcrumb active-link" [routerLink]="['/dashboard']" href="">Overview</a>

            <span class="breadcrumb current">
        Members
      </span>
            <form id="search-form">
                <input name="searchQuery" id="search-text" placeholder="Search Here" type="text"
                       [(ngModel)]="searchQuery">
                <button id="search-button" type="submit" (click)="filterCompany()"></button>
            </form>
        </div>
        <section id="result-section">
            <custom-pagination #topPagination>
            </custom-pagination>
            <table id="result-table">
                <thead>
                <tr *ngIf="loadingData">
                    <th colspan="3">Loading...</th>
                </tr>
                <tr *ngIf="!loadingData">
                    <th class="message" (click)="sort(0)">
                        <a class="sort-button" [attr.data-check]="sortIcon.CompanyNameEnglish">Name</a>
                    </th>
                    <!--<th (click)="sort(1)">-->
                    <!--<a class="sort-button" [attr.data-check]="sortIcon.CompanyNameChinese">名称</a>-->
                    <!--</th>-->
                    <!--<th (click)="sort(2)">-->
                    <!--<a class="sort-button" [attr.data-check]="sortIcon.Address">Address</a>-->
                    <!--</th>-->
                    <th (click)="sort(1)">
                        <a class="sort-button" [attr.data-check]="sortIcon.Phone">Phone</a>
                    </th>
                    <!--<th (click)="sort(4)">-->
                    <!--<a class="sort-button" [attr.data-check]="sortIcon.Fax">Fax</a>-->
                    <!--</th>-->
                    <th (click)="sort(2)">
                        <a class="sort-button" [attr.data-check]="sortIcon.Email">Email</a>
                    </th>
                    <!--<th (click)="sort(3)">-->
                    <!--<a class="sort-button" [attr.data-check]="sortIcon.Website">Website</a>-->
                    <!--</th>-->
                    <th (click)="sort(3)">
                        <a class="sort-button" [attr.data-check]="sortIcon.Registration">Registration</a>
                    </th>
                    <th class="priority" (click)="sort(4)">
                        <a class="sort-button"
                           [attr.data-check]="sortIcon.DisplayPriority">Is Featured?</a>
                    </th>
                    <th class="action">

                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let objData of objCompanyList | paginate: config" (click)="editData(objData)">
                    <td>{{objData.CompanyNameEnglish}}</td>
                    <!--<td>{{objData.CompanyNameChinese}}</td>-->
                    <!--<td>{{objData.Address}}</td>-->
                    <td>{{objData.Phone}}</td>
                    <!--<td>{{objData.Fax}}</td>-->
                    <td>{{objData.Email}}</td>
                    <!--<td>{{objData.Website}}</td>-->
                    <td>{{objData.Registration}}</td>
                    <td *ngIf="objData.DisplayPriority==1">Yes</td>
                    <td *ngIf="objData.DisplayPriority==0">No</td>
                    <td class="action">
                        <button class="edit"></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <custom-pagination #bottomPagination>
            </custom-pagination>
        </section>
        <!-- Edit Section -->
        <div id="editSectionWrapper">
            <div [hidden]="!objCompanyEdit.ID!=0">
                <section class="setting-section" id="editSection">
                    <h2>Edit Member</h2>
                    <form name="edit" (ngSubmit)="saveEditData()">
                        <div class="setting-table">
                            <fieldset>
                                <label>Name</label>
                                <input type="text" name="CompanyNameEnglish"
                                       [(ngModel)]="objCompanyEdit.CompanyNameEnglish">
                            </fieldset>
                            <fieldset>
                                <label>名称</label>
                                <input type="text" name="CompanyNameChinese"
                                       [(ngModel)]="objCompanyEdit.CompanyNameChinese">
                            </fieldset>
                            <fieldset>
                                <label>Address</label>
                                <input type="text" name="Address" [(ngModel)]="objCompanyEdit.Address">

                            </fieldset>
                            <fieldset>
                                <label>Tel. Number</label>
                                <input type="text" name="Phone" [(ngModel)]="objCompanyEdit.Phone">

                            </fieldset>
                            <fieldset>
                                <label>Fax Number</label>
                                <input type="text" name="Fax" [(ngModel)]="objCompanyEdit.Fax">
                            </fieldset>
                            <fieldset>
                                <label>Email</label>
                                <input type="text" name="Email" [(ngModel)]="objCompanyEdit.Email">
                            </fieldset>
                            <fieldset>
                                <label>Website</label>
                                <input type="text" name="Website" [(ngModel)]="objCompanyEdit.Website">

                            </fieldset>
                            <fieldset>
                                <label>Registration</label>
                                <input type="text" name="Registration"
                                       [(ngModel)]="objCompanyEdit.Registration">
                            </fieldset>
                            <fieldset>
                                <label>Products /Services</label>
                                <input type="text" name="ProductsServicesEnglish"
                                       [(ngModel)]="objCompanyEdit.ProductsServicesEnglish">
                            </fieldset>
                            <!--<fieldset>-->
                            <!--<label>Display Priority</label>-->
                            <!--<input type="text" name="DisplayPriority"-->
                            <!--placeholder="(Higher priority will be shown first; set to 0 to hide.)"-->
                            <!--[(ngModel)]="objCompanyEdit.DisplayPriority">-->
                            <!--</fieldset>-->

                            <fieldset>
                                <label>Is Featured?</label>
                                <input type="checkbox" class="css-checkbox" name="DisplayPriority"
                                       [(ngModel)]="editCompanyDisplayPriority">
                                <label>
                                    <span *ngIf="editCompanyDisplayPriority">Yes</span>
                                    <span *ngIf="!editCompanyDisplayPriority">No</span>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label>Representatives</label>
                                <div class="table-block">
                                    <table class="sub-table">
                                        <thead>
                                        <tr>
                                            <th><label>Name</label></th>
                                            <th><label>Phone</label></th>
                                            <th><label>Display Priority</label></th>
                                            <th></th>
                                        </tr>

                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><input type="text" name="objRepresentativeEdit.NameEnglish"
                                                       [(ngModel)]="objRepresentativeEdit.NameEnglish"/></td>
                                            <td><input type="text" name="objRepresentativeEdit.Phone"
                                                       [(ngModel)]="objRepresentativeEdit.Phone"/></td>
                                            <td><input type="text" name="objRepresentativeEdit.DisplayPriority"
                                                       placeholder="(Higher priority first.)"
                                                       [(ngModel)]="objRepresentativeEdit.DisplayPriority"/></td>
                                            <td class="addtd">
                                                <button type="button" class="add-row-btn"
                                                        (click)="addEditRepresentative()">
                                                    +
                                                </button>
                                            </td>
                                        </tr>
                                        <tr *ngFor="let representative of objRepresentativeEditList">
                                            <td>{{representative.NameEnglish}}</td>
                                            <td>{{representative.Phone}}</td>
                                            <td>{{representative.DisplayPriority}}</td>
                                            <td class="addtd">
                                                <button type="button" class="delete-row-btn"
                                                        (click)="removeEditRepresentative(representative)">x
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>
                            <fieldset>
                                <label>Associates</label>
                                <div class="table-block">
                                    <table class="sub-table">
                                        <thead>
                                        <tr>
                                            <th><label>Name</label></th>
                                            <th><label>名称</label></th>
                                            <th><label>Display Priority</label></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><input type="text" name="objAssociateEdit.AssociateCompanyNameEnglish"
                                                       [(ngModel)]="objAssociateEdit.AssociateCompanyNameEnglish"/></td>
                                            <td><input type="text" name="objAssociateEdit.AssociateCompanyNameChinese"
                                                       [(ngModel)]="objAssociateEdit.AssociateCompanyNameChinese"/></td>
                                            <td><input type="text" name="objAssociateEdit.DisplayPriority"
                                                       placeholder="(Higher priority first.)"
                                                       [(ngModel)]="objAssociateEdit.DisplayPriority"/></td>
                                            <td class="addtd">
                                                <button type="button" class="add-btn" (click)="addEditAssociate()">+
                                                </button>
                                            </td>
                                        </tr>
                                        <tr *ngFor="let associate of objAssociateEditList">
                                            <td>{{associate.AssociateCompanyNameEnglish}}</td>
                                            <td>{{associate.AssociateCompanyNameChinese}}</td>
                                            <td>{{associate.DisplayPriority}}</td>
                                            <td class="addtd">
                                                <button type="button" class="add-btn"
                                                        (click)="removeEditAssociate(associate)">x
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>

                            <button class="save-btn" type="submit" [disabled]="savingEditData">
                                Save
                            </button>
                            <button type="button" class="undo-btn" (click)="undoEdit()">Cancel</button>
                            <output class="edit-info-loader" *ngIf="savingEditData">Please Wait...</output>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        <!-- Add Section -->
        <section class="setting-section" id="addSection">
            <h2>Add Member</h2>
            <form name="add" (ngSubmit)="saveAddData()">
                <div class="setting-table" id="edit-table">
                    <fieldset>
                        <label>Name</label>

                        <input type="text" name="CompanyNameEnglish" [(ngModel)]="objCompanyAdd.CompanyNameEnglish">
                    </fieldset>
                    <fieldset>
                        <label>名称</label>

                        <input type="text" name="CompanyNameChinese" [(ngModel)]="objCompanyAdd.CompanyNameChinese">
                    </fieldset>
                    <fieldset>
                        <label>Address</label>
                        <input type="text" name="Address" [(ngModel)]="objCompanyAdd.Address">
                    </fieldset>
                    <fieldset>
                        <label>Tel. Number</label>
                        <input type="text" name="Phone" [(ngModel)]="objCompanyAdd.Phone">
                    </fieldset>
                    <fieldset>
                        <label>Fax Number</label>
                        <input type="text" name="Fax" [(ngModel)]="objCompanyAdd.Fax">

                    </fieldset>
                    <fieldset>
                        <label>Email</label>
                        <input type="text" name="Email" [(ngModel)]="objCompanyAdd.Email">

                    </fieldset>
                    <fieldset>
                        <label>Website</label>
                        <input type="text" name="Website" [(ngModel)]="objCompanyAdd.Website">

                    </fieldset>
                    <fieldset>
                        <label>Registration</label>
                        <input type="text" name="Registration" [(ngModel)]="objCompanyAdd.Registration">

                    </fieldset>
                    <fieldset>
                        <label>Products /Services</label>
                        <input type="text" name="ProductsServicesEnglish"
                               [(ngModel)]="objCompanyAdd.ProductsServicesEnglish">
                    </fieldset>
                    <!--<fieldset>-->
                    <!--<label>Display Priority</label>-->
                    <!--<input type="text" name="DisplayPriority"-->
                    <!--placeholder="(Higher priority will be shown first; set to 0 to hide.)"-->
                    <!--[(ngModel)]="objCompanyAdd.DisplayPriority">-->
                    <!--</fieldset>-->

                    <fieldset>
                        <label>Is Featured?</label>
                        <input type="checkbox" class="css-checkbox" name="DisplayPriority"
                               [(ngModel)]="addCompanyDisplayPriority">
                        <label>
                            <span *ngIf="addCompanyDisplayPriority">Yes</span>
                            <span *ngIf="!addCompanyDisplayPriority">No</span>
                        </label>
                    </fieldset>
                    <fieldset>
                        <label>Representatives</label>
                        <div class="table-block">
                            <table class="sub-table">
                                <thead>
                                <tr>
                                    <th><label>Name</label></th>
                                    <th><label>Phone</label></th>
                                    <th><label>Display Priority</label></th>
                                    <th></th>
                                </tr>

                                </thead>
                                <tbody>
                                <tr>
                                    <td><input type="text" name="objRepresentativeAdd.NameEnglish"
                                               [(ngModel)]="objRepresentativeAdd.NameEnglish"/></td>
                                    <td><input type="text" name="objRepresentativeAdd.Phone"
                                               [(ngModel)]="objRepresentativeAdd.Phone"/></td>
                                    <td><input type="text" name="objRepresentativeAdd.DisplayPriority"
                                               placeholder="(Higher priority first.)"
                                               [(ngModel)]="objRepresentativeAdd.DisplayPriority"/></td>
                                    <td class="addtd">
                                        <button type="button" class="add-row-btn" (click)="addRepresentative()">+
                                        </button>
                                    </td>
                                </tr>
                                <tr *ngFor="let representative of objRepresentativeList">
                                    <td>{{representative.NameEnglish}}</td>
                                    <td>{{representative.Phone}}</td>
                                    <td>{{representative.DisplayPriority}}</td>
                                    <td class="addtd">
                                        <button type="button" class="delete-row-btn"
                                                (click)="removeRepresentative(representative)">x
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                    <fieldset>
                        <label>Associates</label>
                        <div class="table-block">
                            <table class="sub-table">
                                <thead>
                                <tr>
                                    <th><label>Name</label></th>
                                    <th><label>名称</label></th>
                                    <th><label>Display Priority</label></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input type="text" name="objAssociateAdd.AssociateCompanyNameEnglish"
                                               [(ngModel)]="objAssociateAdd.AssociateCompanyNameEnglish"/></td>
                                    <td><input type="text" name="objAssociateAdd.AssociateCompanyNameChinese"
                                               [(ngModel)]="objAssociateAdd.AssociateCompanyNameChinese"/></td>
                                    <td><input type="text" name="objAssociateAdd.DisplayPriority"
                                               placeholder="(Higher priority first.)"
                                               [(ngModel)]="objAssociateAdd.DisplayPriority"/></td>
                                    <td class="addtd">
                                        <button type="button" class="add-row-btn" (click)="addAssociate()">+</button>
                                    </td>
                                </tr>
                                <tr *ngFor="let associate of objAssociateList">
                                    <td>{{associate.AssociateCompanyNameEnglish}}</td>
                                    <td>{{associate.AssociateCompanyNameChinese}}</td>
                                    <td>{{associate.DisplayPriority}}</td>
                                    <td class="addtd">
                                        <button type="button" class="delete-row-btn"
                                                (click)="removeAssociate(associate)">x
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>

                    <button class="save-btn" type="submit" [disabled]="savingAddData">
                        Save
                    </button>
                    <button type="button" class="undo-btn" (click)="cancelAdd()">Cancel</button>
                    <output class="edit-info-loader" *ngIf="savingAddData">Please Wait...</output>
                </div>
            </form>
        </section>
        <div class="breadcrumbs">
            <a class="breadcrumb active-link" [routerLink]="['/dashboard']" href="">Overview</a>
            <span class="breadcrumb current">
        Members
      </span>
            <a id="back-to-top-button" pageScroll href="#top">Back to Top</a>
        </div>
    </div>
</div>
<!-- To trigger scroll on data save. -->
<a #aftersave pageScroll href="#top" hidden>Back to Top</a>
