﻿body, #content {
/*background-color: rgb(255, 255, 255);*/
}
/*************
 *  Content  *
 *************/

#content > section.home-screen-section {
	width: 920px;
	height: 356px;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
}
.blank #content {
	background: #fff;
}
.blank output {
	bottom: 20px;
}
body.blank {
	overflow: hidden;
	width: 100%;
}
#tagline {
	color: rgb(238, 238, 238);
	font-size: 128px;
	font-weight: bold;
	line-height: 128px;
	text-align: center;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#tagline > strong {
	color: rgb(24, 88, 159); /* dark blue */
}
#login-form input[type=checkbox] + label {
	margin: 0 0 10px 0;
}
/*******************
 *  Login Overlay  *
 *******************/
.overlay-form {
	width: 280px;
	height: 295px;
	position: absolute;
	top: 30px;
	right: calc(50% - 467px);
	padding: 30px 40px 40px 40px;
	border-radius: 5px;
	background: rgb(255,255,255);
	font-family: "Oxygen-regular";
	font-size: 12px;
}
#login-form.hide, #forgot-password-form.hide {
	display: none;
}
.overlay-form > label {
	display: block;
	margin-bottom: 10px;
	padding: 0;
	line-height: 12px;
	;
}
.overlay-form > input:not([type=checkbox]) {
	display: block;
	margin-bottom: 10px;
	padding: 0 12px;
	width: 200px;
	height: 30px;
	font-size: 14px;
	color: rgb(255,255,255);
}
.overlay-form > input[type=checkbox]+label {
	margin-bottom: 10px;
}
.overlay-form > p {
	display: block;
	margin-bottom: 24px;
	padding-top: 10px;
	white-space: nowrap;
}
.overlay-form > a {
	display: block;
	margin-bottom: 10px;
	line-height: 30px;
	text-align: center;
}
.overlay-form > button {
	display: block;
	height: 30px;
	position: relative;
	right: 0;
	text-align: center;
	top: 0;
	width: 200px;
	margin: 0;
	line-height: inherit;
}
.overlay-form > button:hover {
	color: transparent;
}
.overlay-form > button:hover:after {
	/* top arrow */
	content: "";
	display: block;
	position: absolute;
	top: calc(50% - 5px);
	left: 50%;
	width: 0;
	height: 0;
	margin-bottom: 1px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 10px solid rgb(255,255,255);
}
output {
	bottom: 15px;
	color: rgb(24, 88, 159);
	font-size: 14px;
	font-style: italic;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}
output.error {
	color: rgb(255, 0, 0);
}

@media (min-width: 1600px) {
/* Large Desktops - 1440px */
.overlay-form {
	position: absolute;
	top: 30px;
	right: calc(50% - 720px);
}
}
.blank #user-controls {
	z-index: -1;
}
/*New css for home agular 2.0*/
main {
	min-height: calc(100% - 229px);
	background: rgb(255, 255, 255);
}
home {
	bottom: 0;
	height: 410px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 920px;
}
pagenotfoundcomponent {
	bottom: 0;
	height: 410px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 920px;
}
