#theme-list{
	display:block;
	width:100%;
}
.theme{
	display:inline-block;
	vertical-align:top;
	margin-right:40px;
	text-transform: capitalize;
}
.theme:nth-of-type(4n){
	margin-right:0;
}
.theme .palette {
	display:block;
	margin-bottom: 10px;
	height: 180px;
	width: 180px;
}
.palette[for=blue]{
	background: linear-gradient(135deg, rgba(181,205,224,1) 0%,rgba(181,205,224,1) 50%,rgba(24,88,159,1) 50%,rgba(24,88,159,1) 100%); /* W3C */
}
.palette[for=green]{
	background: linear-gradient(135deg, rgba(89,133,39,1) 0%,rgba(89,133,39,1) 50%,rgba(24,96,31,1) 50%,rgba(24,96,31,1) 100%); /* W3C */
}
.palette[for=orange]{
	background: linear-gradient(135deg, rgba(255,172,73,1) 0%,rgba(255,172,73,1) 50%,rgba(255,139,0,1) 50%,rgba(255,139,0,1) 100%); /* W3C */
}
.palette[for=gray]{
	background: linear-gradient(135deg, rgba(221,221,221,1) 0%,rgba(221,221,221,1) 50%,rgba(153,153,153,1) 50%,rgba(153,153,153,1) 100%); /* W3C */
}
