/******************
 *  Panel Styles  *
 ******************/

.module:before,
.module:after {
    /* stylish shadow :D */
    content: "";
    position: absolute;
    top: 80%;
    bottom: 15px;
    left: 10px;
    z-index: -1;
    width: 50%;
    max-width: 300px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-transition: box-shadow 0.2s ease 0s;
    transition: box-shadow 0.2s ease 0s;
}

#activity-log:after,
.module:after {
    /* stylish shadow ;) */
    right: 10px;
    left: auto;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
}

.module:hover:before,
.module:hover:after {
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
}

#activity-log > h2,
.module > h2 {
    width: 100%;
    height: 40px;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 40px;
    pointer-events: none;
    text-transform: uppercase;
}


/*************************
 *  Aside [Activity Log] *
 *************************/

#activity-module {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 40px;
    margin-bottom: 40px;
}

#activity-log {
    display: block;
    position: relative;
    margin-bottom: 40px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.activity {
    padding: 10px 20px;
    min-height: 80px;
    border-bottom: 1px solid rgb(233, 233, 233);
    color: rgb(204, 204, 204);
}

.activity > .user-email {
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

.activity > time,
.activity > .action {
    display: block;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
}

#older-log-button {
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height: 40px;
}

#newer-log-button {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    width: 120px;
    height: 40px;
}

@media (min-width: 1600px) {
    /* Large Desktops - 1440px */
    #activity-module {
        width: 330px;
    }
    #newer-log-button {
        margin-right: 86px;
    }
}

@media (max-width: 1599px) {
    /* Small Desktops - 920px */
    #activity-module {
        width: 280px;
    }
}


/*************
 *  Modules  *
 *************/

#modules {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 600px;
    /*border: 1px solid red;*/
}

.module,
.overlay-module {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 40px 40px 0;
    width: 280px;
    height: 200px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}


/*.module:nth-of-type(2n),
.overlay-module:nth-of-type(2n) {
	margin-right: 0;
}*/

.module.last-odd {
    width: 100%;
}

.module > img,
.overlay-module > img {
    display: block;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 120px;
    opacity: 0.5;
    pointer-events: none;
    -webkit-transition: opacity 0.15s ease 0s;
    transition: opacity 0.15s ease 0s;
}

.module:hover > img {
    opacity: 1;
}

#change-layout-button {
    display: inline-block;
    vertical-align: top;
    margin-left: 400px;
    width: 200px;
    height: 40px;
}


/***************************
 *  Change Layout Overlay  *
 ***************************/

#save-layout-panel {
    display: inline-block;
    vertical-align: top;
    margin-top: 140px;
    margin-right: 40px;
    padding: 40px;
    width: 280px;
    border: 1px dashed rgb(204, 204, 204);
}

#save-layout-panel p {
    margin-top: 200px;
    margin-bottom: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#save-layout-panel button {
    display: block;
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
}

#overlay-modules {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: 140px;
    width: 600px;
}

#overlay-modules > .module {
    cursor: move;
}


/*=================================================================================================*/

#content > #modules {
    /* Needs high specificity */
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.module {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 40px 40px 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    /* white */
    text-align: center;
}

.module > .icon {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 33%;
    opacity: 0.5;
    -webkit-transition: opacity 0.15s ease 0s;
    transition: opacity 0.15s ease 0s;
}

.module:hover > .icon {
    opacity: 1;
}

@media (min-width: 1600px) {
    /* Large Desktops - 1440px */
    #content > #modules {
        width: 1070px;
    }
    .module {
        width: 330px;
        height: 240px;
    }
    .module:nth-of-type(3n) {
        margin-right: 0;
    }
}

@media (max-width: 1599px) {
    /* Small Desktops - 920px */
    #content > #modules {
        width: 600px;
    }
    .module {
        width: 280px;
        height: 200px;
    }
    .module:nth-of-type(2n) {
        margin-right: 0;
    }
    .module:last-of-type:nth-of-type(odd) {
        /*width: 100%;*/
    }
}
