<div id="content">
    <div id="top">
        <div class="breadcrumbs">
            <a class="breadcrumb active-link" [routerLink]="['/dashboard']" href="">Overview</a>
            <span class="breadcrumb current">Reset Password</span>
        </div>

        <section class="setting-section">
            <h2>Reset Password</h2>
            <form id="change-password-form" (submit)="_changePassword()">
                <div class="form-message" id="change-password-form-message"></div>
                <div id="edit-change-password-table" class="setting-table">
                    <fieldset>
                        <label>New Password</label>
                        <input [(ngModel)]="objResetPassword.NewPassword" name="newPassword" type="password">
                    </fieldset>
                    <fieldset>
                        <label>Confirm Password</label>
                        <input [(ngModel)]="objResetPassword.ConfirmPassword" name="confirmPassword" type="password">
                    </fieldset>
                    <button class="save-btn" type="submit" [disabled]="_savingPasswordChange">
                        Save
                    </button>
                    <button type="reset" class="undo-btn" (click)="_cancelPasswordChange()">Cancel</button>
                    <output class="edit-info-loader" *ngIf="_savingPasswordChange">Please Wait...</output>
                    <output class="edit-info-loader" *ngIf="_savedChangePassword">Password changed successfully.
                        Redirecting to login...
                    </output>
                </div>
            </form>
        </section>

        <div class="breadcrumbs">
            <a class="breadcrumb active-link" [routerLink]="['/dashboard']" href="">Overview</a>
            <span class="breadcrumb current">Reset Password</span>
            <a id="back-to-top-button" pageScroll href="#top">Back to Top</a>
        </div>
    </div>
</div>
<button #goToTop pageScroll href="#top" hidden>Back to Top</button>
