#content {
	width: 100%;
	min-height: 500px;
	/*display: flex;
        justify-content: center;
        align-items: center;*/
    position: relative;
}
#logo-este-404 {
	width: 362px;
	margin-top: 286px;
	padding: 0 25px 28px;
	display: inline-block;
	border-bottom: 1px dashed rgb(122, 119, 97);
}
#logo-este-404 > img {
	max-width: 312px;
}
#message-404 {
	/*padding-top: 26px;*/
	font-size: 16px;
	line-height: 24px;
}

#message-404 h1{
	position: relative;
	margin: 0 0 35px;
	padding: 0 0 0 40px;
	color: rgb(62,111,120);
	font-size: 24px;
	line-height:21px;
	font-family: "PTSerif-Regular", sans-serif;
}
#message-404 > h1::before {
	width: 32px;
	height: 18px;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	background-image: url("../../img/icons/icon-teal-bullet.svg");
}
#message-404 h3 {
	margin: 0 0 10px 0;
	color: rgb(62,111,120);
}
#message-404 span {
	color: rgb(119,119,119);
}

/*.404-container {
	width: 100% !important;
}*/
#home-link {
	color: rgb(194, 0, 47);
	text-decoration: underline;
}