/* - - - - - Font Faces - - - - - */

@font-face {
    font-family: 'PTSerif-Regular';
	font-style: normal;
    src: url('../../fonts/pt_serif_regular-webfont.eot');
    /* IE9 Compat Modes */

    src: url('../../fonts/pt_serif_regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../../fonts/pt_serif_regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('../../fonts/pt_serif_regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('../../fonts/pt_serif_regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../../fonts/pt_serif_regular-webfont.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'PTSans';
	font-style: normal;
    src: url('../../fonts/pt_sans_regular-webfont.eot');
    /* IE9 Compat Modes */

    src: url('../../fonts/pt_sans_regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../../fonts/pt_sans_regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('../../fonts/pt_sans_regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('../../fonts/pt_sans_regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../../fonts/pt_sans_regular-webfont.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'PTSansBold';
	font-style: normal;
    src: url('../../fonts/PTSansBold/PTSansBold.eot');
	font-weight: 700;
    /* IE9 Compat Modes */

    src: url('../../fonts/PTSansBold/PTSansBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../../fonts/PTSansBold/PTSansBold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../../fonts/PTSansBold/PTSansBold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../../fonts/PTSansBold/PTSansBold.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../../fonts/PTSansBold/PTSansBold.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'PontanoSans-Regular';
	font-style: normal;
    src: url('../../fonts/PontanoSans-Regular/PontanoSans-Regular.eot');
    /* IE9 Compat Modes */

    src: url('../../fonts/PontanoSans-Regular/PontanoSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../../fonts/PontanoSans-Regular/PontanoSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../../fonts/PontanoSans-Regular/PontanoSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('../../fonts/PontanoSans-Regular/PontanoSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../../fonts/PontanoSans-Regular/PontanoSans-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}



/* - - - - - Main Body - - - - - */

html {
    min-width: 320px;
    min-height: 400px;
    width: 100%;
    height: 100%;
}

body {
    min-width: 320px;
    min-height: 400px;
    width: 100%;
    /*height: 100%;*/
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'PTSans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    overflow-x: hidden;
}

/* - - - - - Start Default - - - - - */
.container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0;
    /*overflow: hidden;*/
}

/*#banner .container {
    overflow: hidden;
}*/

.hidden {
    overflow: hidden;
}

p {
    font-size: 18px;
    color: rgb(153,153,153);
    font-family: "PTSans", sans-serif;
    line-height: 27px;
}

h1, h2, h3, h4, h5, h6 {
    /*text-transform: uppercase;*/
}

a, a:hover, a:focus {
    text-decoration: none;
}

@media(min-width: 1024px) {
    .container {
        width: 920px;
        padding: 0 20px;
    }

    #banner .container,
    footer .container {
        width: 920px;
        padding: 0;
    }
}

@media(min-width: 1366px) {
    .container {
        width: 1240px;
        padding: 0;
    }
    #banner .container,
    footer .container {
        width: 1240px;
        padding: 0;
    }
}

/* Start Default styling for left main content*/

.left-content {
    width: 100%;
    position: relative;
    margin: 0 40px 80px 0;
}

.left-content h3 .svg{
    width: 22px;
    height: 12px;
}

@media (min-width: 1024px) {
    .left-content {
        width: 100%;
    }
    .left-content h3 .svg{
        width: 32px;
        height: 18px;
    }
}

@media (min-width: 1366px) {
    .main-content .container{
        display: table;
        table-layout: fixed;
    }
    
    .left-content {
        width: 74%;
        padding: 0 40px 270px 0;
        display: table-cell;
    }
}

/* End Default styling for left main content*/


/* - - - - - Start Header Section - - - - - */

#banner {
    height: 150px;
    position: relative;
    overflow: hidden;
}

#banner .container {
    padding: 0 20px;
}

header {
    padding: 20px 0 0 !important;
    position: relative;
}

#logo-sta-header {
    width: 100px;
    display: none;
    position: absolute;
    top: 20px;
    right: 1px;
}

#logo-sta-header-320p {
    width: 99px;
    position: absolute;
    top: 19px;
    right: 0;
}

#logo-sta-header img,
#logo-sta-header-320p img {
    width: 100%;
}

#form-search {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
}

#search-field {
    width: 280px;
    padding: 9px 20px;
    color: rgb(255,255,255);
    font-family: "PTSans", sans-serif;
    font-size: 18px;
    line-height: normal;
    background-color: rgba(0,0,0,0.5);
    border: none;
    border-radius: 25px;
}

#search-button {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    border: medium none;
    border-radius: 50%;
    background-image: url("../../img/icons/icon-search.svg");
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    cursor: pointer;
}

#banner-title {
    width: 600px;
    margin: 0;
    position: absolute;
    top: 208px;
    right: 0;
    font-family: "PTSerif-Regular", sans-serif;
    font-size: 84px;
    font-weight: 400;
    line-height: 84px;
    letter-spacing: 0.2px;
    text-align: right;
}

#banner-title span {
    font-size: 24px;
    display: block;
    line-height: 50px;
    letter-spacing: 0.2px;
}

@media (max-width: 1023px) {
    #banner::before {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        background-image: url("../../img/320p-header-bg.png");
        background-position: center top;
        background-repeat: no-repeat;
        opacity: 0.1;
    }
}

@media(min-width: 1024px) {
    #banner {
        height: 400px;
        background-image: url('../../img/main-banner-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0;
    }

    #banner::after {
        width: 100%;
        height: 20px;
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }

    #banner .container {
        padding: 0;
    }

    #mobile-menu-btn {
        display: none;
    }

    header {
        padding: 40px 0 0 !important;
    }

    #logo-sta-header {
        width: 181px;
        display: inline-block;
        position: relative;
        /* for the log without shadow */
        /*top: -3px;
        left: 0;*/

        /* for the log with shadow */
        top: -10px;
        left: -23px;
    }

    #logo-sta-header img {
        width: 223px;
    }

    #logo-sta-header-320p {
        display: none;
    }

    #form-search {
        display: inline-block;
    }

    #banner-title {
        display: none;
    }
}

@media(min-width: 1366px) {
    #banner {
        height: 700px;
    }

    #banner-title {
        display: inherit;
    }
}

/* - - - - - End Header Section - - - - - */

/*========= Start Navigation ========*/
#main-nav {
    width: 100%;
    display: none;
    position: absolute;
    bottom: -20px;
    left: 0;
    text-align: center;
}

#main-nav .nav-link {
    width: 160px;
    height: 101px;
    display: inline-block;
    position: relative;
    padding: 23px 0 0 1px;
    vertical-align: bottom;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*transition: all 300ms ease;*/
    font-family: "PTSans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    /*animation-name: nav-link;
    animation-duration: 0.5s;
    animation-play-state: running;
    animation-timing-function: linear;*/
}

/*.nav-link:hover {
    margin: 0 4px;
    padding: 44px 0 0 0;
    border-radius: 0;
    animation-name: nav-link-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.nav-link:hover::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.25);
}

.nav-link::after {
    width: 168px;
    height: 105px;
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    border: 4px solid rgba(255,255,255,0.25);
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    opacity: 0;
    transition: all 300ms ease 0s;
}

.nav-link:hover::after {
    opacity: 1;
}*/

/* - - - - - Start Active Nav-Menu State - - - - - */

#main-nav .nav-link.active {
    width: 112px; /*edited*/
    height: 98px;
    margin: 0 4px;
    padding: 40px 0 0 0;
    border-radius: 0;
    /*animation-name: nav-link-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;*/
    transform: translateY(-20px);
    z-index:2;
    /*transform: translateY(-40px);
    z-index:2;
    transform: translateY(0px);
    z-index:0;*/
}

#main-nav .nav-link.active::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.25);
}

#main-nav .nav-link.active::after {
    width: 168px;
    height: 105px;
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    border: 4px solid rgba(255,255,255,0.25);
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    opacity: 1;
    /*transition: all 300ms ease 0s;*/
}

 /* - - - - - End Active Nav-Menu State - - - - - */

.nav-events {
    background-color: rgb(121, 94, 107);
}
.nav-services {
    background-color: rgb(197, 148, 17);
}
.nav-library {
    background-color: rgb(103, 136, 153);
}
.nav-biz-match {
    background-color: rgb(200, 104, 66);
}
.nav-members {
    background-color: rgb(154, 160, 108);
}
.nav-about {
    background-color: rgb(218, 191, 121);
}
.nav-contact {
    background-color: rgb(62, 111, 120);
}

.mobile-nav-title {
    position: absolute;
    top: 89px;
    left: 17px;
    font-family: "PTSans";
    font-size: 28px;
    color: rgb(121, 94, 107);
    text-transform: uppercase;
}

/*==== Start Mobile Nav ====*/
#mobile-menu-btn {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    cursor: pointer;
    background-color: rgb(121,94,107);
    transition: all 300ms ease 0s;
    z-index: 10;
}

#mobile-menu-btn-open {
    width: 16px;
    transform: rotate(0deg) scale(1);
    transition: all 300ms;
}

#mobile-menu-btn-close {
    width: 0;
    transform: rotate(180deg) scale(0);
    transition: all 300ms;
}

#mobile-menu-btn.active {
    position: fixed;
    top: 0;
    left: 140px;
    transition: 300ms ease;
}

#mobile-menu-btn.active #mobile-menu-btn-open {
    width: 0;
    transform: rotate(180deg) scale(0);
    transition: all 300ms;
}

#mobile-menu-btn.active #mobile-menu-btn-close {
    width: 16px;
    transform: rotate(0deg) scale(1);
    transition: all 300ms;
}

#overlay-shadow {
    transition: 300ms;
}

#overlay-shadow.active {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(255,255,255,0.7);
    z-index: 2;
    transition: 300ms;
}

#mobile-nav {
    width: 140px;
    height: 100%;
    padding: 54px 0 0;
    position: fixed;
    top: 0;
    left: -140px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    /*background-color: rgb(121,94,107);*/  /* default mobile nav background */
    transition: all 300ms ease 0s;
    z-index: 10;
}

.mobile-nav-bg-color {
    background-color: rgb(121,94,107);
}

/*#mobile-nav:after {
    width: 100%;
    height: 100%;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255, .7);
    transition: 1500ms ease;
    z-index: -2;
}*/

#mobile-nav.active {
    left: 0;
    transition: 300ms ease;
}

/*#mobile-nav.active:after {
    opacity: 1;
    transition: 300ms ease;
}*/

#mobile-nav > a {
    width: 100%;
    display: inline-block;
    position: relative;
    margin: 0 0 30px;
    color: rgb(255, 255, 255);
}

#mobile-nav > a:hover {
    font-family: "PTSansBold";
}

#mobile-nav > a.active {
    font-family: "PTSansBold";
}

#mobile-nav > a.active:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -30px;
    content: "•";
}

#mobile-nav > a.active:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 30px;
    content: "•";
}

#logo-mobile-nav {
    width: 80px;
    height: 72px;
}

/* ===== Alternative Technique ===== */
#mobile-nav > a.active:nth-child(1):before {
    left: -30px;
}
#mobile-nav > a.active:nth-child(1):after {
    left: 30px;
}

#mobile-nav > a.active:nth-child(2):before {
    left: -35px;
}
#mobile-nav > a.active:nth-child(2):after {
    left: 35px;
}

#mobile-nav > a.active:nth-child(3):before {
    left: -32px;
}
#mobile-nav > a.active:nth-child(3):after {
    left: 32px;
}

#mobile-nav > a.active:nth-child(4):before {
    left: -40px;
}
#mobile-nav > a.active:nth-child(4):after {
    left: 40px;
}

#mobile-nav > a.active:nth-child(5):before {
    left: -37px;
}
#mobile-nav > a.active:nth-child(5):after {
    left: 37px;
}

#mobile-nav > a.active:nth-child(6):before {
    left: -28px;
}
#mobile-nav > a.active:nth-child(6):after {
    left: 28px;
}

#mobile-nav > a.active:nth-child(7):before {
    left: -36px;
}
#mobile-nav > a.active:nth-child(7):after {
    left: 36px;
}

/*#mobile-nav:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    transition: 1500ms ease;
    z-index: -1;
}

#mobile-nav.active {
    left: 0;
    transition: 300ms ease;
}

#mobile-nav.active:after {
    opacity: 1;
    transition: 300ms ease;
}

#mobile-nav a {
    width: 160px;
    display: block;
    padding: 20px 40px;
    color: rgb(255,255,255);
    transition: 300ms ease;
    -webkit-transform: translateX(-160px);
    -moz-transform: translateX(-160px);
    -ms-transform: translateX(-160px);
    -o-transform: translateX(-160px);
    transform: translateX(-160px);

}

#mobile-nav.active a {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    transition: 300ms ease;
}*/

/*#mobile-nav .nav-events {
    transition: 900ms ease;
}

#mobile-nav .nav-services {
    transition: 750ms ease;
}

#mobile-nav .nav-library {
    transition: 700ms ease;
}

#mobile-nav .nav-biz-match {
    transition: 600ms ease;
}

#mobile-nav .nav-members {
    transition: 500ms ease;
}

#mobile-nav .nav-about {
    transition: 400ms ease;
}

#mobile-nav .nav-contact {
    transition: 300ms ease;
}

#mobile-nav.active .nav-events {
    transition: 300ms ease;
}

#mobile-nav.active .nav-services {
    transition: 400ms ease;
}

#mobile-nav.active .nav-library {
    transition: 500ms ease;
}

#mobile-nav.active .nav-biz-match {
    transition: 600ms ease;
}

#mobile-nav.active .nav-members {
    transition: 700ms ease;
}

#mobile-nav.active .nav-about {
    transition: 750ms ease;
}

#mobile-nav.active .nav-contact {
    transition: 900ms ease;
}*/
/*==== End Mobile Nav ====*/





@media(min-width: 1024px) {
    #main-nav {
        display: inherit;
    }

    #mobile-nav {
        display: none;
    }

    #main-nav .nav-link {
        width: 120px;
    }

    #main-nav .nav-link::after {
        width: 128px;
    }

    #main-nav .nav-link.active::after {
        width: 120px;
    }

    .mobile-nav-title {
        display: none;
    }
    @keyframes nav-link-hover {
        50% {transform: translateY(-40px);}
        100% {transform: translateY(-20px); z-index:2;}
    }
    @keyframes nav-link {
        0% {transform: translateY(-20px); z-index:2;}
        50% {transform: translateY(-40px); z-index:2;}
        100% {transform: translateY(0px); z-index:0;}
    }
}

@media (min-width: 1366px) {
    #main-nav .nav-link {
        width: 160px;
    }

    #main-nav .nav-link::after {
        width: 164px;
    }

    #main-nav .nav-link.active {
        width: 152px; /*edited*/
    }

    #main-nav .nav-link.active::after {
        /*width: 168px;*/
        width: 160px; /*edited*/
    }
}
/*========= End Navigation ========*/




/* - - - - - Common - - - - - */

.custom-btn {
    width: 100%;
    padding: 12px 0 10px;
    color: #fff;
    background-color: rgb(121, 94, 107);
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    font-family: "PTSans", sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: 250ms;
}

.custom-btn:active {
    transform: scale(0.8);
}

.form-btn {
    width: 100%;
    margin: 0 0 0 20px;
    padding: 10px 0 7px;
    border: none;
}

@media (min-width: 1024px) {
    .form-btn {
        width: 100%;
        margin: 0;
        position: relative;
        top: 0;
        left: 0;
    }
}


/* - - - - - Main Content - - - - - */

.main-content {
    padding: 20px 0 0 0;
}

@media (min-width: 1024px) {
    .main-content {
        position: relative;
        padding: 80px 0 0 0;
    }

    .main-content:before {
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../../img/main-content-bg.png");
        background-position: center -250px;
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: .1;
    }
}

@media (min-width: 1366px) {
    .main-content {
        padding: 82px 0 0 0;
    }
}


/* - - - - - Image Banner Style - - - - - */

/* - - - - - 320p - - - - - */
.image-banner {
    width: 100%;
    height: 220px;
    margin: 33px 0 30px 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.image-banner img {
    position: absolute;
    /*top: -321px;*/
    top: 0;
    right: -62px;
}


/* - - - - - 768p - - - - - */

@media (min-width: 768px) and (max-width: 1023px) {
    .image-banner img {
        width: 100%;
        height: auto;
        position: absolute;
        top: -321px;
        right: 0px;
    }
}


/* - - - - - 1024p and 1366p - - - - - */

@media(min-width: 1024px) {
    .image-banner {
        width: 100%;
        height: 220px;
        position: relative;
        margin: 0 0 24px 0;
        border-radius: 5px;
        overflow: hidden;
    }

    .image-banner img {
        position: absolute;
        /*top: -317px;*/
        top: 0;
        left: auto;
    }
}




/* ===== Start of Form Success Message ===== */

.form-success-msg {
    width: calc(100% + 40px);
    height: 370px;
    display: none;
    /*position: absolute;
    top: 61px;
    left: 0;*/
    margin: 0 0 0 -20px;
    padding: 130px 20px;
    font-size: 16px;
    text-align: center;
    color: rgb(255,255,255);
    background-color: rgb(63,111,120);
    z-index: 1;
    /*opacity: 0.4;*/
}

.form-success-msg.form-error-msg {
    background-color: #a82626;
}

.form-success-msg span {
    width: 100%;
    display: inline-block;
}

.form-success-msg-title {
    margin: 0 0 20px 0;
    font-family: "PTSerif-Regular";
    font-size: 25px;
    text-transform: uppercase;
}

.form-success-msg-text {
    margin: 0 0 40px 0;
    line-height: 20px;
	font-size:18px;
}

.form-success-msg-btn {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 30px;
    color: rgb(63,111,120);
    background-color: rgb(255,255,255);
    font-family: "PTSans";
    font-size: 18px;
    cursor: pointer;
}

@media (min-width: 1024px) {
    .form-success-msg {
        width: 100%;
        margin: 0;
        border-radius: 4px;
        
    }
}

@media (min-width: 1366px) {
    .form-success-msg {
        width: 880px;
        
    }
}

/* ===== End of Form Success Message ===== */





/* - - - - - Main Content Services - - - - - */

#content-services {
    width: 100%;
    height: 300px;
    display: none;
    position: relative;
    font-family: "PTSans", sans-serif;
    font-size: 18px;
    line-height: 27px;
    background-color: rgb(252,252,252);
}

#content-services-wrapper {
    position: relative;
    overflow: visible;
    padding: 55px 0 0;
}

#service-man {
    display: inline-block;
    position: absolute;
    bottom: 0;
}

#content-services p {
    width: 600px;
    position: absolute;
    right: 12%;
    top: 60px;
    color: rgb(103,136,153);
    text-align: center;
}

#content-services-list {
    height: 81px;   
    position: absolute;
    right: 6%;
    bottom: 60px;
}

#content-services p a {
    color: rgb(103,136,153);
    text-decoration: underline;
}

#content-services p a:hover{
    text-decoration: none;
}

#content-services-list span img,
#content-services-list span h5 {
    display: inline-block;
}

.content-services-items {
    width: 235px;
    height: 81px;
    display: inline-block;
    position: relative;
}

.content-services-items img {
    width: 80px;
    height: 80px;
    margin: 6px 0 0 1px;
}

.content-services-text {
    width: 120px;
    display: inline-block;
    margin: 22px 0 0 14px;
    vertical-align: top;
    line-height: 26px;
}

.content-services-item-title {
    width: auto;
    position: absolute;
    top: 50%;
    /*margin: 3px 0 0 19px;*/
    margin: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.timber-grading-color {
    color: rgb(200,104,66);
}

.second-opinions-color {
    color: rgb(154,159,108);
}

.course-arrangement-color {
    color: rgb(63,111,120);
}



@media (min-width: 1024px) {
    #content-services {
        display: inherit;
    }

#service-man {
        display: none;
    }

    #content-services p {
        position: relative;
        top: 0;
        right: 0;
        margin: 0 auto 56px;
    }

    #content-services-list {
        width: 730px;
        position: relative;
        right: -14px;
        bottom: 5px;
        margin: 0 auto;
    }
}

@media (min-width: 1366px) {
    #service-man {
        display: inherit;
    }

    #content-services p {
        position: absolute;
        top: 55px;
        right: 11%;
        margin: 0;
    }

    #content-services-list {
        position: absolute;
        right: 4.8%;
        bottom: 60px;
        margin: 0;
    }
}



/* - - - - - Footer - - - - - */

footer {
    padding: 0;
    background-image: url("../../img/footer-bg.png");
    background-color: rgb(243,243,243);
    background-size: cover;
    font-family: "PTSans", sans-serif;
}

#footer-container {
    height: 501px;
    padding: 20px 20px 190px;
}

#logo-sta-footer {
    width: 120px;
    height: 110px;
    margin: 0;
    position: absolute;
    bottom: 31px;
    left: 50%;
    transform: translateX(-44%);
    -webkit-transform: translateX(-44%);
    -moz-transform: translateX(-44%);
    -ms-transform: translateX(-44%);
    -o-transform: translateX(-44%);
}

.footer-find-us {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.footer-contact-us {
    /*width: 562px;*/
    width: auto;
    display: inline-block;
    margin: 31px 0 0 0;
    vertical-align: top;
}

.footer-find-us img, .footer-contact-us img {
    margin: 0 14px 0 0;
}

.footer-find-us img {
    width: 20px;
    height: 24px;
}

.footer-contact-us img {
    width: 20px;
    height: 20px;
    margin: 4px 16px 0 0;
}

.footer-find-us h5, .footer-contact-us h5 {
    display: inline-block;
    margin: 0 0 10px;
    font-family: "PTSerif-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.footer-find-us ul, .footer-contact-us ul {
    font-family: "PTSans", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.footer-social-links {
    position: absolute;
    top: 20px;
    right: 20px;
}

.footer-social-links a img {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 0 10px 0;
}

.footer-social-links a:last-child img {
    margin: 0;
}

.footer-copyright-section {
    font-family: "PTSans", sans-serif;
    font-size: 14px;
    color: rgb(255,255,255);
    background-color: rgb(0,0,0);
}

#footer-copyright-section-container {
    padding: 17px 0 20px;
    text-align: center;
    width: 200px;
}

.footer-copyright-section a {
    color: rgb(255,255,255);
}

#footer-copyright-text {
    display: inline-block;
    padding: 0 0 25px 0;
    line-height: 21px;
}

#footer-copyright-text span {
    width: 100%;
    display: inline-block;
}

#terms-and-privacy-menu {
    width: 200px;
    /*position: absolute;*/
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/*#terms-and-privacy-menu a:first-child {
    padding: 0 13px 0 0;
    border-right: 1px solid rgb(255,255,255);
}*/

/*#terms-and-privacy-menu a:last-child {
    padding: 0 0 0 8px;
}*/




@media (min-width: 768px) {
    #footer-container {
        height: 500px;
        padding: 40px 40px 190px;
    }

    .footer-find-us {
        width: 240px;
    }

    .footer-contact-us {
        /*width: 500px;*/
        margin: 0;
    }

    .footer-social-links {
        right: 40px;
        top: 40px;
    }
    #footer-copyright-section-container {
        padding: 20px 0;
    }
}

@media (min-width: 1024px) {
    #footer-container {
        height: 100%;
        padding: 89px 0 190px 0;
    }

    #logo-sta-footer {
        width: 180px;
        height: 164px;
        margin: 11px 56px 0 0;
        position: relative;
        left: 0;
        top: 0;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    .footer-find-us {
        width: 197px;
    }

    .footer-contact-us {
        width: 322px;
        margin: 0;
    }

    .footer-find-us h5, .footer-contact-us h5 {
        margin: 0 0 28px;
        font-size: 18px;
        line-height: 27px;
    }

    .footer-find-us ul, .footer-contact-us ul {
        font-size: 18px;
        line-height: 27px;
    }

    .footer-social-links {
        width: 140px;
        position: absolute;
        top: 98px;
        right: 0;
    }

    .footer-social-links a img {
        display: inline-block;
        margin: 0 6px 0 0;
    }

    .footer-copyright-section {
        font-size: 16px;
    }

    #footer-copyright-section-container {
        width: 920px;
        padding: 39px 0 39px;
        text-align: left;
    }

    #footer-copyright-text {
        padding: 0;
    }

    #footer-copyright-text span {
        display: inline;
    }

    #terms-and-privacy-menu {
        width: auto;
        position: absolute;
        top: 41px;
        right: -1px;
        left: auto;
        transform: translateX(0);
    }
}

@media (min-width: 1366px) {
    #footer-container {
        padding: 89px 0 189px 0;
    }

    #logo-sta-footer {
        margin: 11px 97px 0 0;
    }

    .footer-find-us {
        width: 235px;
    }

    .footer-contact-us {
        width: 562px;
    }

    .footer-social-links {
        position: absolute;
        top: 100px;
        right: 0;
    }

    .footer-copyright-section {
        font-size: 18px;
    }

    #footer-copyright-section-container {
        width: 1240px;
        padding: 40px 0 39px;
    }
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(204,204,204);
    font-family: "PTSans";
    font-size: 16px;
}
::-moz-placeholder { /* Firefox 19+ */
    color: rgb(204,204,204);
    font-family: "PTSans";
    font-size: 16px;
}
:-ms-input-placeholder { /* IE 10+ */
    color: rgb(204,204,204);
    font-family: "PTSans";
    font-size: 16px;
}
:-moz-placeholder { /* Firefox 18- */
    color: rgb(204,204,204);
    font-family: "PTSans";
    font-size: 16px;
}

@media (min-width: 1024px) {
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgb(204,204,204);
        font-family: "PTSans";
        font-size: 18px;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: rgb(204,204,204);
        font-family: "PTSans";
        font-size: 18px;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: rgb(204,204,204);
        font-family: "PTSans";
        font-size: 18px;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: rgb(204,204,204);
        font-family: "PTSans";
        font-size: 18px;
    }
}


/* - - - - - pixel-perfect - - - - - */

.pixel {
    display: inline;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.4;
    z-index: 999;
}



/* ===== Form Stylings ===== */

.form-input-wrapper {
    position: relative;
}

.form-text-area-wrapper {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

@media (min-width: 1024px) {
    .form-text-area-wrapper {
        width: 497px;
    }
}

/* ===== Form Error Span Styles ===== */

.error {
    width: 100%;
    height: 40px;
    display: none;
    padding: 10px 14px;
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(229, 0, 0);
    font-family: "PTSans", sans-serif;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    text-transform: capitalize;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.error-text-area {
    /*width:;*/
    height: 100%;
}


/* ===== Error Message ===== */

.error-msg {
    width: 100%;
    display: none;
    padding: 20px;
    font-family: "PTSans", sans-serif;
    font-size: 18px;
    color: rgb(255,255,255);
    background-color: rgb(121,94,103);
}



/* ===== Disabled Link ===== */

.disabled-link {
    cursor: default;
    opacity: 0.5;
}
.disabled-link span {
    text-decoration: none !important;
}

.no-display{
 display: none;   
 visibility: hidden;
}

/* === fix === */
.show {
    display: inline-block;
}
@media (min-width: 1024px) and (max-width: 1365px) {
    .show {
        display: none;
    }
}

@media (min-width: 1366px) {
    .show {
        display: inline-block;
    }
}


/* ===== Slim scroll ===== */

.slimScrollBar {
    opacity: 0.15 !important;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}
.slimScrollDiv:hover .slimScrollBar {
    opacity: 0.4 !important;
}


/* ===== Members page search fix ===== */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}