<div id="content">
    <div id="top">
        <div class="breadcrumbs">
            <a class="breadcrumb active-link" [routerLink]="['/dashboard']" href="">Overview</a>
            <span class="breadcrumb current">
        Advertisements
      </span>
            <form id="search-form">
                <input name="searchQuery" id="search-text" placeholder="Search Here" type="text"
                       [(ngModel)]="searchQuery">
                <button id="search-button" type="submit" (click)="filterAdvertisement()"></button>
            </form>
        </div>
        <section id="result-section">
            <custom-pagination #topPagination>
            </custom-pagination>
            <table id="result-table">
                <thead>
                <tr *ngIf="loadingData">
                    <th colspan="3">Loading...</th>
                </tr>
                <tr *ngIf="!loadingData">
                    <th class="message" (click)="sort(0)">
                        <a class="sort-button" [attr.data-check]="sortIcon.Name">Company Name</a>
                    </th>
                    <th (click)="sort(1)">
                        <a class="sort-button" [attr.data-check]="sortIcon.Title">Service</a>
                    </th>
                    <th (click)="sort(2)">
                        <a class="sort-button" [attr.data-check]="sortIcon.Url">Url</a>
                    </th>
                    <th (click)="sort(3)" class="priority">
                        <a class="sort-button" [attr.data-check]="sortIcon.DisplayPriority">Display Priority</a>
                    </th>
                    <th class="action">

                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let objData of objAdvertisementList | paginate: config" (click)="editData(objData)">
                    <td>{{objData.Name}}</td>
                    <td>{{objData.Title}}</td>
                    <td><a href="{{objData.URL}}">{{objData.URL}}</a></td>
                    <td>{{objData.DisplayPriority}}</td>
                    <td class="action">
                        <button class="edit"></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <custom-pagination #bottomPagination>
            </custom-pagination>
        </section>
        <!-- Edit Section -->
        <div id="editSectionWrapper">
            <div [hidden]="!objAdvertisementEdit.ID">
                <section class="setting-section" id="editSection">
                    <h2>Edit Advertisement</h2>
                    <form name="edit" (ngSubmit)="saveEditData()">
                        <div class="setting-table">
                            <fieldset>
                                <label>Company Name</label>
                                <input type="text" name="Name"
                                       [(ngModel)]="objAdvertisementEdit.Name">
                            </fieldset>
                            <fieldset>
                                <label>Service</label>
                                <input type="text" name="Title"
                                       [(ngModel)]="objAdvertisementEdit.Title">
                            </fieldset>
                            <fieldset>
                                <label>URL</label>
                                <input type="text" name="URL"
                                       [(ngModel)]="objAdvertisementEdit.URL">
                            </fieldset>
                            <fieldset>
                                <label>Display Priority</label>
                                <input type="text" name="DisplayPriority"
                                       placeholder="(Higher priority will be shown first; set to 0 to hide.)"
                                       [(ngModel)]="objAdvertisementEdit.DisplayPriority">
                            </fieldset>
                            <fieldset class="last-child">
                                <file-upload #uploadComponentEdit
                                             (imageUploaded)="uploadEditImage($event)"></file-upload>
                            </fieldset>

                            <button class="save-btn" type="submit" [disabled]="savingEditData">
                                Save
                            </button>
                            <button type="reset" class="undo-btn" (click)="undoEdit()">Cancel</button>
                            <output class="edit-info-loader" *ngIf="savingEditData">Please Wait...</output>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        <!-- Add Section -->
        <section class="setting-section" id="addSection">
            <h2>Add Advertisement</h2>
            <form id="add" name="add" (ngSubmit)="saveAddData()">
                <div class="setting-table" id="add-table">
                    <fieldset>
                        <label>Company Name</label>
                        <input type="text" name="Name" [(ngModel)]="objAdvertisementAdd.Name">
                    </fieldset>
                    <fieldset>
                        <label>Service</label>
                        <input type="text" name="Title"
                               [(ngModel)]="objAdvertisementAdd.Title">
                    </fieldset>
                    <fieldset>
                        <label>URL</label>
                        <input type="text" name="URL" [(ngModel)]="objAdvertisementAdd.URL">
                    </fieldset>
                    <fieldset>
                        <label>Display Priority</label>
                        <input type="text" name="DisplayPriority"
                               placeholder="(Higher priority will be shown first; set to 0 to hide.)"
                               [(ngModel)]="objAdvertisementAdd.DisplayPriority">
                    </fieldset>
                    <fieldset class="last-child">
                        <file-upload #uploadComponentAdd (imageUploaded)="uploadAddImage($event)"></file-upload>
                    </fieldset>

                    <button class="save-btn" type="submit" [disabled]="savingAddData">
                        Save
                    </button>
                    <button type="button" class="undo-btn" (click)="cancelAdd()">Cancel</button>
                    <output class="edit-info-loader" *ngIf="savingAddData">Please Wait...</output>
                </div>
            </form>
        </section>
        <div class="breadcrumbs">
            <a class="breadcrumb active-link" [routerLink]="['/dashboard']" href="">Overview</a>
            <span class="breadcrumb current">
        Advertisements
      </span>
            <a id="back-to-top-button" pageScroll href="#top">Back to Top</a>
        </div>
    </div>
</div>
<!-- To trigger scroll on data save. -->
<button #goToTop pageScroll href="#top" hidden>Back to Top</button>
