<home>
</home>
<div id="login-overlay" [class]="showLoginPanel ? 'active' : ''">
    <form *ngIf="!forgotPasswordForm" id="login-form" class="overlay-form show" name="loginForm"
          (submit)="onSubmit()" (clickOutside)="onClickOutside($event)">
        <label>Email</label>
        <input #emailInput type="email" name="Email" placeholder="Your email" [(ngModel)]="objLoginUser.Email">
        <!--(focus)="inputFocus($event)">-->
        <span *ngIf="emailInvalid" id="emailInvalid"
              (click)="emailFocus()">{{errorMessage}}</span>

        <!--<span *ngIf="emailInvalid">{{error}}</span>-->
        <label>Password</label>
        <input #passwordInput type="password" name="Password" placeholder="Your password"
               [(ngModel)]="objLoginUser.Password">
        <!--(focus)="inputFocus($event)">-->
        <span *ngIf="passwordInvalid" id="passwordInvalid"
              (click)="passwordFocus()">{{errorMessage}}</span>

        <input type="checkbox" class="css-checkbox" name="Persistent" [(ngModel)]="objLoginUser.Persistent">
        <label>Remember me on this computer</label>

        <a (click)="toggleForgotPasswordForm()" id="get-forgot-password">Forgot your password?</a>
        <button type="submit">
            <span *ngIf="loggingIn">Please wait...</span>
            <span *ngIf="!loggingIn">Log In</span>
        </button>
    </form>
    <form *ngIf="forgotPasswordForm" id="forgot-password-form" class="overlay-form show" method="post"
          (submit)="forgotPassword()" (clickOutside)="onClickOutside($event)">
        <label>Email</label>
        <input #forgottenEmailInput type="email" name="ForgottenEmail" placeholder="Your email"
               [(ngModel)]="forgottenEmail" (click)="dismissSentEmail()">
        <!--(focus)="inputFocus($event)">-->
        <span *ngIf="forgottenEmailInvalid" id="forgottenEmailInvalid"
              (click)="forgottenEmailFocus()">{{errorMessage}}</span>

        <p id="forgot-password-message">
            Not to worry. Just enter your<br>
            email address and click Send<br>
            to retrieve your new password.
        </p>
        <a (click)="toggleForgotPasswordForm()" id="get-login">Return to login screen.</a>
        <button type="submit" class="forgot_pass_button">
            <span *ngIf="sendingEmail">Please wait...</span>
            <span *ngIf="!sendingEmail">Send</span>
        </button>
        <output class="edit-info-loader" *ngIf="sentEmail">Please check your email.
        </output>
    </form>
</div>
