#mobile-menu-btn {
    background-color: rgb(197,148,17);
}

.mobile-nav-bg-color {
	background-color: rgb(197,148,17);
}

/*#mobile-nav::after {
    background-color: rgba(197, 148, 17, 0.7);
}*/

.mobile-nav-title {
    color: rgb(197,148,17);
}

#services h3 {
	color: rgb(197,148,17);
}

#services .custom-btn {
    background-color: rgb(197,148,17);
}