#mobile-menu-btn {
    background-color: rgb(154,160,108);
}

.mobile-nav-bg-color {
	background-color: rgb(154,160,108);
}

/*#mobile-nav::after {
    background-color: rgba(154, 160, 108, .7);
}*/

.mobile-nav-title {
    color: rgb(154,160,108);
}

.page-content-heading h3 {
	color: rgb(154,160,108) !important;
}

.page-content-heading .svg polygon:first-child{
	fill: rgb(154,160,108);
}

.page-content-heading .svg polygon:last-child{
	fill: rgb(62,111,120);
}

#members-listing .custom-btn {
	background-color: rgb(154,160,108);
}
