#mobile-menu-btn {
    background-color: rgb(103,136,153);
}

.mobile-nav-bg-color {
	background-color: rgb(103,136,153);
}

.mobile-nav-title {
    color: rgb(103,136,153);
}

/*#mobile-nav::after {
    background-color: rgba(103,136,153, .7);
}*/

.page-content-heading .svg polygon:first-child{
	fill: rgb(62,111,120);
}

.page-content-heading .svg polygon:last-child{
	fill: rgb(103,136,153);
}

.page-content-heading h3 {
	color: rgb(103,136,153) !important;
}

#contact-sta .custom-btn,
#email-sta .custom-btn {
	background-color: rgb(103,136,153);
}
