#mobile-menu-btn {
    background-color: rgb(218,191,121);
}

.mobile-nav-bg-color {
	background-color: rgb(218,191,121);
}

/*#mobile-nav::after {
    background-color: rgba(218, 191, 121, .7);
}*/

.mobile-nav-title {
    color: rgb(218,191,121);
}

.page-content-heading .svg polygon:first-child{
	color: rgb(197,148,17);
}

.page-content-heading .svg polygon:last-child{
	color: rgb(218,191,121);
}

.page-content-heading h3 {
	color: rgb(218,191,121) !important;
}

#members-listing .custom-btn {
	background-color: rgb(218,191,121);
}
