#mobile-menu-btn {
    background-color: rgb(121,94,107);
}

.mobile-nav-bg-color {
	background-color: rgb(121,94,107);
}

/*#mobile-nav::after {
    background-color: rgba(121, 94, 107, 0.7);
}*/

.mobile-nav-title {
    color: rgb(121, 94, 107);
}

#events h3 {
	color: rgb(121, 94, 107);
}

#event-slider .custom-btn {
    background-color: rgb(121, 94, 107);
}
