<div class="image-preview-area">
    <img *ngIf="_imageSrc" [src]="_imageSrc" alt="" src="">
</div>
<div class="upload-instructions ">
    <div *ngIf="_imageUploadComponent" class="imageUpload">
        <p>{{_imageUploadTitle}}</p>
        <input #imageUploadInput type="file" name="image" accept="image/*" (change)="handleImageUpload()">
        <label>Browse</label>
        <output for="image"></output>
        <div class="uploaded-name-holder" *ngIf="_hasImage">
            <label>Image Name</label>
            <input *ngIf="!_showDeleteImage" disabled="" type="text" placeholder="" [value]="_imageFileName">
            <span class="confirm-delete" *ngIf="_showDeleteImage">
              Confirm delete? <i class="confirm-yes" (click)="deleteImage()"> Y</i> / <i class="confirm-no"
                                                                                         (click)="toggleDeleteImage()">N</i></span>
            <a href="javascript:void(0)" (click)="toggleDeleteImage()" *ngIf="!_showDeleteImage"
               class="deleteInfoImg btn-delete">×</a>
        </div>
    </div>
    <div *ngIf="_pdfUploadComponent" class="pdfUpload">
        <p>{{_pdfUploadTitle}}</p>
        <input #pdfUploadInput type="file" name="pdf" accept="pdf/*" (change)="handlePdfUpload()">
        <label>Browse</label>
        <output for="pdf"></output>
        <div class="uploaded-name-holder" *ngIf="_hasPdf">
            <label>File Name</label>
            <input *ngIf="!_showDeletePdf" disabled="" type="text" placeholder="" [value]="_pdfFileName">
            <span class="confirm-delete" *ngIf="_showDeletePdf">
              Confirm delete? <i class="confirm-yes" (click)="deletePdf()"> Y</i> / <i class="confirm-no"
                                                                                       (click)="toggleDeletePdf()">N</i></span>
            <a href="javascript:void(0)" (click)="toggleDeletePdf()" *ngIf="!_showDeletePdf"
               class="deleteInfoImg btn-delete">×</a>
        </div>
    </div>
</div>
