<div id="content">
    <aside id="activity-module" class="ng-scope">
        <div id="activity-log" data-page="0" data-activities-per-page="6">
            <h2>Activity Log</h2>
            <article class="activity" *ngFor="let objData of objActivityLog.Activity">
                <a class="user-email" href="mailto:{{objData.UserEmail}}">{{objData.UserEmail}}</a>
                <time>{{objData.CreatedDateTime|date:'medium'}}</time>
                <div class="action">{{objData.Action}}<span
                        *ngIf="objData.ModelType"> - {{objData.ModelType}}</span></div>
            </article>
        </div>
        <button id="newer-log-button" class="activity-nav" [disabled]="prevPage===0" (click)="loadData(prevPage)">
            Newer
        </button><!--
        --><button id="older-log-button" class="activity-nav" [disabled]="currentPage===totalPage"
                (click)="loadData(nextPage)">Older
        </button>
    </aside><!--
        --><section id="modules">
        <a class="module" [routerLink]="['/events']" href="">
            <h2 class="ng-binding">Events</h2>
            <img alt="staff-bus-type" title="staff-bus-type" src="../../../public/img/icons/icon-events.svg">
        </a><!--
        --><a class="module" [routerLink]="['/members']" href="">
        <h2 class="ng-binding">Members</h2>
        <img alt="staff-bus-type" title="staff-bus-type" src="../../../public/img/icons/icon-members.svg">
    </a><!--
        --><a class="module" [routerLink]="['/boardofcommittee']" href="">
        <h2 class="ng-binding">Board of Committee</h2>
        <img alt="staff-bus-type" title="staff-bus-type" src="../../../public/img/icons/icon-board-of-committee.svg">
    </a><!--
        --><a class="module" [routerLink]="['/advertisements']" href="">
        <h2 class="ng-binding">Advertisements</h2>
        <img alt="staff-bus-type" title="staff-bus-type" src="../../../public/img/icons/icon-Advertising.svg">
    </a>
    </section>
</div>
