<div id="content">
    <div id="top">
        <div class="breadcrumbs">
            <a class="breadcrumb active-link" href="#/dashboard">Overview</a>
            <span class="breadcrumb current">
                Service Provider
            </span>
            <form id="search-form">
                <input name="searchQuery" id="search-text" placeholder="Search Here" type="text" [(ngModel)]="searchQuery">
                <button id="search-button" type="submit" (click)="filterItems()"></button>
            </form>
        </div>
        <section id="result-section">
            <custom-pagination #topPagination>
            </custom-pagination>
            <table id="result-table">
                <thead>
                    <tr>
                        <th>
                            <a class="sort-button" href="#">Name</a>
                        </th>
                        <th>
                            <a class="sort-button" href="#">Email</a>
                        </th>
                        <th>
                            <a class="sort-button" href="#">Gender</a>
                        </th>
                        <th>
                            <a class="sort-button" href="#">Department</a>
                        </th>
                        <th>
                            <a href="#"></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let objData of objDataArrayList | paginate: config">
                        <td>{{objData.first_name + objData.last_name}}</td>
                        <td>{{objData.email}}</td>
                        <td>{{objData.gender}}</td>
                        <td>{{objData.department}}</td>
                        <td class="action">
                            <button (click)="editData(objData)" class="edit" pageScroll href="#editSectionWrapper"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <custom-pagination #bottomPagination>
            </custom-pagination>
        </section>
        <!-- Edit Section -->
        <div id="editSectionWrapper">
            <section class="setting-section" id="editSection" *ngIf="objBusTypeEdit.ID!=0">
                <h2>Edit Booking</h2>
                <form id="editForm" name="editBooking" (ngSubmit)="saveEditData()">
                    <table class="setting-table" id="edit-table">
                        <tbody>
                            <tr>
                                <td class="label">
                                    <label for="BusType">Bus Type</label>
                                </td>
                                <td class="input">
                                    <input type="text" name="BusType" [(ngModel)]="objBusTypeEdit.BusType">
                                    <label></label>
                                    <!--<label id="error" class="error ng-binding"></label>-->
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <label for="MaxCapacity">Max Capacity</label>
                                </td>
                                <td class="input">
                                    <input type="text" name="MaxCapacity" [(ngModel)]="objBusTypeEdit.MaxCapacity">
                                    <label></label>
                                    <!--<label id="error" class="error ng-binding"></label>-->
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <label for="MaxPrice">Max Price</label>
                                </td>
                                <td class="input">
                                    <input type="text" name="MaxPrice" [(ngModel)]="objBusTypeEdit.MaxPrice">
                                    <label></label>
                                    <!--<label id="error" class="error ng-binding"></label>-->
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <label for="MinCapacity">Min Capacity</label>
                                </td>
                                <td class="input">
                                    <input type="text" name="MinCapacity" [(ngModel)]="objBusTypeEdit.MinCapacity">
                                    <label></label>
                                    <!--<label id="error" class="error ng-binding"></label>-->
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <label for="MinPrice">Min Price</label>
                                </td>
                                <td class="input">
                                    <input type="text" name="MinPrice" [(ngModel)]="objBusTypeEdit.MinPrice">
                                    <label></label>
                                    <!--<label id="error" class="error ng-binding"></label>-->
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <label for="Status">Status</label>
                                </td>
                                <td class="input">
                                    <input type="text" name="Status" [(ngModel)]="objBusTypeEdit.Status">
                                    <label></label>
                                    <!--<label id="error" class="error ng-binding"></label>-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="group-button">
                        <button class="save-btn" type="submit">Save</button>
                        <button type="reset" class="undo-btn">Undo</button>
                    </div>
                </form>
            </section>
        </div>
        <!-- Add Section -->
        <section class="setting-section" id="addSection">
            <h2>Add Booking</h2>
            <form id="editForm" name="editBooking">
                <table class="setting-table" id="edit-table">
                    <tbody>
                        <tr>
                            <td class="label">
                                <label for="BusType">Bus Type</label>
                            </td>
                            <td class="input">
                                <input type="text" name="BusType" [(ngModel)]="objBusTypeEdit.BusType">
                                <label></label>
                                <!--<label id="error" class="error ng-binding"></label>-->
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                <label for="MaxCapacity">Max Capacity</label>
                            </td>
                            <td class="input">
                                <input type="text" name="MaxCapacity" [(ngModel)]="objBusTypeEdit.MaxCapacity">
                                <label></label>
                                <!--<label id="error" class="error ng-binding"></label>-->
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                <label for="MaxPrice">Max Price</label>
                            </td>
                            <td class="input">
                                <input type="text" name="MaxPrice" [(ngModel)]="objBusTypeEdit.MaxPrice">
                                <label></label>
                                <!--<label id="error" class="error ng-binding"></label>-->
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                <label for="MinCapacity">Min Capacity</label>
                            </td>
                            <td class="input">
                                <input type="text" name="MinCapacity" [(ngModel)]="objBusTypeEdit.MinCapacity">
                                <label></label>
                                <!--<label id="error" class="error ng-binding"></label>-->
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                <label for="MinPrice">Min Price</label>
                            </td>
                            <td class="input">
                                <input type="text" name="MinPrice" [(ngModel)]="objBusTypeEdit.MinPrice">
                                <label></label>
                                <!--<label id="error" class="error ng-binding"></label>-->
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                <label for="Status">Status</label>
                            </td>
                            <td class="input">
                                <input type="text" name="Status" [(ngModel)]="objBusTypeEdit.Status">
                                <label></label>
                                <!--<label id="error" class="error ng-binding"></label>-->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="group-button">
                    <button class="save-btn ng-isolate-scope" ng-click="submit=true" type="submit" scroll-on-click="" editsectionid="error" addsectionid="error">Save</button>
                    <button class="undo-btn" data-ng-click="cancel()">Undo</button>
                </div>
            </form>
        </section>
        <div class="breadcrumbs">
            <a class="breadcrumb active-link" href="#/dashboard">Overview</a>
            <span class="breadcrumb current">
                Service Provider
            </span>
            <a id="back-to-top-button" pageScroll href="#top">Back to Top</a>
        </div>
    </div>
</div>
