#about {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0 0 32px 0;
	padding: 0 20px;
}

.page-content-heading {
	margin: 0 0 265px 0;
}

.icon-heading-bullet-default {
	width: 22px;
	height: 12px;
}

#about h3 {
	margin: -1px 0 0 6px;
	display: inline-block;
	color: rgb(121, 94, 107);
	font-family: "PTSerif-Regular", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

#about-page-office-room-img-container {
	width: 100%;
	height: 220px;
	margin: 33px 0 30px 0;
  	position: absolute;
  	top: 0;
  	left: 0;
	overflow: hidden;
}

#about-page-office-room-img-container img {
	position: absolute;
	top: -321px;
	right: -62px;
}


#about-page-office-room-img-container123 {
	width: 100%;
	height: 220px;
	margin: 34px 0 30px 0;
  	position: relative;
  	top: 0;
  	/*left: 0;*/
  	/*right: -250px;*/
  	right: 0;
	overflow: hidden;
}

#about-page-office-room-img-container123 img {
	/*width: 100%;
	height: auto;*/
	left: -504px;
	position: absolute;
	top: -321px;
}

#board-of-committee {
	height: 40px;
	padding: 8px 0;
	text-align: center;
	color: rgb(197,148,17);
	font-size: 16px;
	line-height: 27px;
	border-top: 2px solid rgb(243,243,243);
	border-bottom: 2px solid rgb(243,243,243);
}

#committee-member-container {
	margin: 16px -10px 24px;
	text-align: center;
	overflow: hidden;
}

/*#committee-member-container .committee-member-box {
	display: none;
}*/

#committee-member-container .committee-member-box:nth-child(1),
#committee-member-container .committee-member-box:nth-child(2) {
	display: inline-block;
}

.committee-member-box {
	width: 100%;
	height: auto;
	display: inline-block;
	position: relative;
	padding: 15px 10px 11px;
	color: rgb(255,255,255);
	border-radius: 5px;
	text-align: center;
	/*background-image: url("../img/committee-member-bg.png");*/
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	z-index: 1;
}

.committee-member-box::after {
	width: calc(100% - 18px);
	height: calc(100% - 16px);
	position: absolute;
	top: 10px;
	left: 10px;
	content: none;
	background-image: url("../img/committee-member-bg.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 5px;
	overflow: hidden;
	z-index: -1;
}

.committee-member-img-container {
	width: 138px;
	height: 138px;
	margin: 0 auto 21px;
	border-radius: 50%;
	border: 5px solid rgba(255, 255, 255, 0.25);
	box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.65);
	overflow: hidden;
}

/*.committee-member-img-container:before {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	background-color: rgba(255,255,255,0.5);
}*/

/*#committee-member-container .committee-member-box:nth-child(1),
#committee-member-container .committee-member-box:nth-child(4) {
	margin: 0 10px 20px 0;
}
#committee-member-container .committee-member-box:nth-child(2),
#committee-member-container .committee-member-box:nth-child(5) {
	margin: 0 10px 20px 10px;
}
#committee-member-container .committee-member-box:nth-child(3),
#committee-member-container .committee-member-box:nth-child(6) {
	margin: 0 0 20px 10px;
}*/

.committee-member-img {
	width: 100%;
}

.committee-member-box span {
	width: 100%;
	display: inline-block;
	color: rgb(197,148,17);
}

.committee-member-box .committee-member-rank {
	margin: 0 0 10px 0;
	font-family: "PTSans", sans-serif;
	font-size: 14px;
}

.committee-member-box .committee-member-name {
	margin: 0 0 6px 0;
	font-family: "PTSansBold", sans-serif;
	font-size: 18px;
}

.committee-member-box .committee-member-company {
	font-family: "PTSans", sans-serif;
	font-size: 14px;
	line-height:20px;
}



/*#sub-committee-members {
	width: 68%;
	margin: 0 auto;
	text-align: center;
}

#sub-committee-members .committee-member-box {
	width: 48%;
}

#sub-committee-members .committee-member-box:nth-child(odd) {
	margin: 0 10px 20px 0;
}

#sub-committee-members .committee-member-box:nth-child(even) {
	margin: 0 0 20px 10px;
}*/

#article-our-corporate-story {
	/*font-size: 18px;*/
}

#our-corporate-story {
	height: 40px;
	margin: 0 0 25px 0;
	padding: 7px 0;
	text-align: center;
	color: rgb(197,148,17);
	font-size: 16px;
	line-height: 27px;
	border-top: 2px solid rgb(243,243,243);
	border-bottom: 2px solid rgb(243,243,243);
}

#article-our-corporate-story h5 {
	font-family: "PTSansBold", sans-serif;
	color: rgb(197,148,17);
	font-size: 14px;
	margin: 0 0 3px;
}

#article-our-corporate-story p {
	margin: 0 0 22px 0;
	color: rgb(218,191,121);
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 0.1px;
}

#article-our-corporate-story p:nth-child(7) {
	margin: 0 0 25px;
}




@media (min-width: 768px) and (max-width: 1023px) {
	#about-page-office-room-img-container img {
		width: 100%;
		position: absolute;
		top: -300px;
		right: 0px;
	}
}

@media (min-width: 1024px) {
	#about {
		width: 100%;
		margin: 0 0 80px;
		padding: 0;
	}

	.page-content-heading {
		margin: 0 0 36px 0;
	}

	.page-content-heading .svg{
		width: 32px;
		height: 18px;
	}

	#about h3 {
		margin: 0 0 0 5px;
		font-size: 24px;
	}

	#about-page-office-room-img-container {
		width: 100%;
		height: 220px;
	  	position: relative;
		margin: 0 0 30px 0;
		border-radius: 5px;
		overflow: hidden;
	}

	#about-page-office-room-img-container img {
		position: absolute;
	  	top: -317px;
	  	left: 0;
	}

	#board-of-committee {
		padding: 6px 0;
		font-size: 18px;
	}

	#committee-member-container {
		margin: 20px -10px 71px;
	}

	#committee-member-container .committee-member-box {
		display: inline-block;
	}

	.committee-member-box {
		width: 33.33%;
		height: 296px;
		padding: 20px 30px 11px;
	}

	.committee-member-box::after {
		content: "";
	}

	.committee-member-box span {
		color: rgb(255,255,255);
	}

	.committee-member-img-container {
		margin: 10px auto 20px;
	}

	#our-corporate-story {
		margin: 0 0 35px 0;
		padding: 6px 0;
		font-size: 18px;
	}

	#article-our-corporate-story h5,
	#article-our-corporate-story p {
		font-size: 18px;
	}

	#article-our-corporate-story p {
		margin: 0 0 27px 0;
		line-height: 27px;
		letter-spacing: 0px;
	}

/*	#article-our-corporate-story p:nth-child(4),
	#article-our-corporate-story p:nth-child(5) {
		margin: 0 0 31px 0;
	}*/

	#article-our-corporate-story p:nth-child(4),
	#article-our-corporate-story p:nth-child(5) {
		margin: 0 0 28px 0;
	}

	#article-our-corporate-story p:nth-child(7) {
		margin: 0 0 33px;
	}

	#article-our-corporate-story h5 {
		margin: 0 0 5px;
	}


}

@media (min-width: 1366px) {
	#about {
		margin: 0 0 242px;
		padding: 0 40px 0 0;
	}

	.page-content-heading {
		margin: -11px 0 36px 0;
	}
}

