.left-content {
	padding: 0 20px;
}

section h3{
	margin: 0 0 33px;
    color: rgb(121, 94, 107);
    font-family: "PTSerif-Regular", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.main-content-bullet-1 {
	width: 22px;
	height: 12px;
}

.left-content h3 .svg polygon:first-child{
	fill: #954d34;
}

.left-content h3 .svg polygon:last-child{
	fill: #c86842;
}

#biz-match-img-container img {
	position: absolute;
	top: -185px;
	left: auto;
	right: 0;
}

#events h3 {
	margin: 0 0 0 8px;
	display: inline-block;
	color: rgb(121, 94, 107);
	font-family: "PTSerif-Regular", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

#event-form {
	position: relative;
}

#biz-match > form {
	width: calc(100% + 40px);
	margin: 0 0 0 -20px;
	position: relative;
}

.event-contact-form {
	padding: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.event-contact-form.half-input{
	display: table;
	width: 100%;
	table-layout: fixed;
	height: 100%;
	padding: 40px;
	background-color: rgb(243, 243, 243);
	margin: 0 0 20px 0;
}

.biz-match-intro{
	margin-bottom: 25px;
}

.biz-match-intro > p {
	margin: 260px 0 0 0;
	font-size: 16px;
}

#events-page-outdoor-decking-tips {
    margin: 0 0 22px;
}

.event-contact-form.half-input input {
	height: 40px;
	padding: 0 14px;
	margin-bottom: 20px;
	color: rgb(204,204,204);
	font-family: "PTSans";
	font-size: 16px;
	border: none;
	width: 100%;
	border-radius: 5px;
	box-sizing: border-box;
}

.form-input-wrapper{
	display: inline-block;
	width: 100%;
}

.event-contact-form.half-input .form-input-wrapper:nth-child(odd){
	margin-right: 4.9%;
}

#biz-match .custom-btn {
	width: calc(100% - 40px);
	margin: 0 0 0 20px;
}

@media (min-width: 1024px) {
    .left-content {
		padding: 0;
	}
    section h3 {
	    font-size: 24px;
	}

	.biz-match-intro > p {
		margin: 0;
		font-size: 18px;
	}

	.main-content-bullet-1 {
		width: 32px;
		height: 18px;
	}

	#events h3 {
		font-size: 24px;
	}

	#biz-match > form {
		width: 100%;
		margin: 0;
	}

	.event-contact-form {
		height: 100%;
		margin: 0 0 40px 0;
		padding: 40px;
	}

	.event-contact-form input {
		font-size: 18px;
	}

	#biz-match .custom-btn {
		width: 100%;
		margin: 0;
	}

	.event-contact-form.half-input input {
		font-size: 18px;
	}

	.form-input-wrapper{
		width: 47.3%;
	}
}

@media (min-width: 1366px) {
	#event-slider {
		margin: 0 40px 270px 0;
	}
    .left-content {
        padding: 0 40px 270px 0;
    }
}




/* ===== Start of Form Success Message ===== */

.form-success-msg {
    height: 500px;
    padding: 170px 20px;
    /*position: absolute;
    top: 517px;
    left: 0;*/
    background-color: rgb(200,104,66);
}

.form-success-msg-btn {
	color: rgb(200,104,66);
}

@media (min-width: 1024px) {
    .form-success-msg {
        height: 464px;
        /*padding: 170px 0;*/
        /*position: absolute;
        top: 407px;
        left: 0;*/

    }
}

@media (min-width: 1366px) {
    .form-success-msg {
        /*position: absolute;
        top: 0px;
        left: 0;*/
        width: 877px;
    }
}

/* ===== End of Form Success Message ===== */





/* - - - - - Form Element Styles styles (Checkbox, Inputs, Textarea) - - - - - */

.checkbox-wrapper{
	border-radius: 5px;
    display: inline-block;
	background: #fff;
	padding: 0 10px;
	border-radius: 5px;
	height: 210px;
	overflow: auto;
}

.input-holder{
	display: inline-block;
	width: 47.3%;
	padding: 13px 0 0;
}

.input-holder.full-width{
	width: 100%;
	margin-top: 16px;
}

.input-holder p{
	background: rgb(255,255,255);
	padding: 14px;
	font-size: 16px;
}

.input-holder.pull-right{
	margin-right: 4.9%;
}

label.title-holder{
	display: inline-block;
	width:100%;
	padding-left: 13px;
	margin-bottom: 10px;
	color: rgb(153,153,153);
	font-family: "PTSans";
	font-size: 16px;
	line-height: 21px;
	box-sizing: border-box;
}

.input-holder textarea{
	width: 100%;
	height: 80px;
	resize: none;
	background: #fff;
    margin: 0;
	padding: 14px;
	border-radius: 5px;
	color: rgb(204,204,204);
  	font-family: "PTSans";
    font-size: 16px;
    border: none;
}

.checkbox-wrapper .checkbox-group{
	display: inline-block;
	width: 100%;
	margin: 12px 0 12px 0;
	color: rgb(204,204,204);
	font-family: "PTSans";
	font-size: 16px;
}

.checkbox-wrapper .checkbox-group label{
	text-transform: capitalize;
}

/*.checkbox-wrapper .checkbox-group:last-child{
	margin-bottom:0;
}*/

/* Base for label styling */
input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
input[type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
}

/* checkbox aspect */
input[type="checkbox"]:not(:checked) + label:before,
input[type="checkbox"]:checked + label:before {
     content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #999999;
    background: transparent;
    border-radius: 0;
    -webkit-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* hover style just for information */
.checkbox-wrapper label:hover,
input[type="checkbox"]:checked + label{
	color: #c86842;
}

label:hover:before,
input[type="checkbox"]:checked + label:before {
  background-color: #c86842 !important;
  border-color: transparent !important;
}
#events-page-outdoor-decking-tips img{
	max-width: 100%;
	height: auto;
}
@media only screen and (max-width: 1023px){
	.biz-match-intro{
		/*padding: 0 2%;*/
	}

	.form-btn{
		margin:0;
	}
}

@media only screen and (max-width: 767px){
	.event-contact-form.half-input{
		padding: 25px 20px;
	}
	.event-contact-form > div:last-child {
		margin: 0 !important;
	}
	.event-contact-form.half-input input,
	.input-holder{
		width: 100%;
		margin: 0 0 15px 0 !important;
	}
	#events-page-outdoor-decking-tips{
		height: auto;
		margin:0 0 15px 0;
	}
}

@media (min-width: 1024px) {
	.input-holder p {
		font-size: 18px;
	}

	.input-holder textarea {
		font-size: 18px;
	}

	label.title-holder {
		font-size: 18px;
	}

	input[type="checkbox"]:not(:checked) + label,
	input[type="checkbox"]:checked + label {
		font-size: 18px;
	}
}