/* - - - - - Contact Section - - - - - */

#contact-sta {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0 0 38px 0;
	padding: 0 20px;
}

.page-content-heading {
	margin: 0 0 16px 0;
}

.icon-heading-bullet-default {
	width: 22px;
	height: 12px;
}

#contact-sta h3 {
	margin: -1px 0 0 7px;
	display: inline-block;
	color: rgb(121, 94, 107);
	font-family: "PTSerif-Regular", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

#contact-sta-content {
	padding: 30px 0 0;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
}

.contact-sta-fields {
	width: 100%;
	/*height: 225px;*/
	display: inline-block;
	margin: 0 0 21px;
	padding: 0;
	text-align: center;
	font-family: "PontanoSans-Regular", sans-serif;
	font-size: 16px;
	color: rgb(62,111,120);
}

.contact-sta-fields:nth-child(1),
.contact-sta-fields:nth-child(4) {
	/*height: 195px;*/
}

.contact-sta-fields > img, 
.contact-sta-fields > .svg {
	width: 100px;
	height: 100px;
	margin: 0 0 30px 0;
}

.contact-sta-fields > span {
	width: 100%;
	display: inline-block;
}

.contact-sta-fields-title {
	margin: 0 0 33px 0;
	font-weight: 700;
}

.contact-sta-fields-line-one {
	margin: 0 0 9px 0;
}

.contact-sta-fields:nth-child(1) .contact-sta-fields-line-one,
.contact-sta-fields:nth-child(4) .contact-sta-fields-line-one {
	width: auto !important;
}

.contact-sta-fields:nth-child(1) .content-sta-fields-line-two,
.contact-sta-fields:nth-child(4) .content-sta-fields-line-two {
	width: auto !important;
}



/* - - - - - Email Section - - - - - */

#email-sta {
	width: 100%;
	display: inline-block;
	margin: 0 0 60px 0;
	padding: 0 20px;
}

#email-sta h3 {
	margin: 0 0 0 6px;
	display: inline-block;
	color: rgb(121, 94, 107);
	font-family: "PTSerif-Regular", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

.email-sta-form {
	width: calc(100% + 40px);
	height: 100%;
	display: table;
	margin: 0 0 20px -20px;
	padding: 41px 20px 0;
	position: relative;
	background-color: rgb(243, 243, 243);
	table-layout: fixed;
}

.email-sta-form-left-col {
	width: 100%;
	/*width: 35.2%;*/
	display: inline-block;
	margin: 0 20px 0 0;
}

.email-sta-form input,
.email-sta-form textarea {
	display: table-cell;
	/*width: 280px;*/
	width: 100%;
	height: 40px;
	padding: 10px 14px;
	margin: 0 0 20px 0;
	color: rgb(204,204,204);
	font-family: "PTSans";
	font-size: 16px;
	border: medium none;
	border-radius: 5px;
	box-sizing: border-box;
}

.email-sta-form input:last-child,
.email-sta-form textarea {
	margin: 0 0 20px 0;
}

.email-sta-form textarea {
	width: 100%;
	/*width: 62.2%;*/
	height: 220px;
	padding: 10px 14px;
	vertical-align: top;
}

#email-sta-form-btn {
	margin: 0 0 -0.1px;
	cursor: pointer;
}


/* ===== Start of Form Success Message ===== */

.form-success-msg {
    height: 581px;
    padding: 210px 20px;
    /*position: absolute;
    top: 32px;
    left: 0;*/
}



@media (min-width: 1024px) {
    .email-sta-form input,
    .email-sta-form textarea {
		font-size: 18px;
	}

    .form-success-msg {
        height: 390px;
        padding: 130px 0;
       /* position: absolute;
        top: 61px;
        left: 0;*/

    }
}

@media (min-width: 1366px) {
    .form-success-msg {
       /* position: absolute;
        top: 49px;
        left: 0;*/

    }
}

/* ===== End of Form Success Message ===== */





/* - - - - - Till here - - - - - */

#event-form {
	position: relative;
}

#event-contact-form-container {
	width: 100%;
	display: inline-block;
}

#event-contact-form {
	height: 100%;
	padding: 20px;
	background-color: rgb(243, 243, 243);
	margin: 0 0 21px 0;
}

#event-contact-form input {
	width: 280px;
	height: 40px;
	display: table;
	margin: 0 auto 20px;
	padding: 0 14px;
	color: rgb(204,204,204);
	font-family: "PTSans";
	font-size: 16px;
	border: medium none;
}

#event-contact-form input:last-child {
	margin: 0 auto;
}

#register-interest-btn {
	/*width: 130px;*/
	width: 41%;
	cursor: pointer;
}

#register-interest-btn span {
	display: none;
}

#event-venue-details {
	width: 100%;
	height: 293px;
	display: inline-block;
	margin: 0 0 59px;
	position: relative;
	top: -2px;
}

#event-venue-details-content {
	height: 100%;
	margin: 0;
	padding: 13px 20px;
	color: rgb(121,91,07);
	font-family: "PTSans";
	font-size: 18px;
	background-color: rgb(249,249,249);
}

#event-venue-details-content h6,
#event-venue-details-content p,
#event-venue-details-content a {
	font-size: 14px;
}

#event-venue-details-content a {
	/*text-decoration: underline;*/
}

#event-venue-details-content h6,
#event-venue-details-content a {
	color: rgb(121,94,107);
	line-height: 30px;
}

#event-venue-details-content p {
	color: rgb(153,153,153);
	line-height: 21px;
}

#view-map {
	font-family: "PTSansBold", sans-serif;
	color: rgb(121,94,107);
}

#view-map span {
	text-decoration: underline;
}

#view-map:hover span {
	text-decoration: none;
}

#view-brochure {
	font-family: "PTSansBold",sans-serif;
	text-decoration: underline;
}

#view-brochure:hover {
	text-decoration: none;
}

.share-this-event-btn {
	/*width: 130px;*/
	width: 41%;
	position: absolute;
	top: calc(100% + 341px);
	right: 20px;
}

.share-this-event-btn span {
	display: none;
}



@media (min-width: 1024px) {
	
	/* - - - - - Contact Section - - - - - */

	#contact-sta {
		width: 100%;
		margin: 0 0 69px;
		padding: 0;
	}

	.page-content-heading {
		margin: 0 0 36px 0;
	}

	.icon-heading-bullet-default {
		width: 32px;
		height: 18px;
	}

	#contact-sta h3 {
		margin: 0 0 0 5px;
		font-size: 24px;
	}

	#contact-sta-content {
		padding: 0;
	}

	.contact-sta-fields {
		width: 217px;
		height: 288px;
		margin: 0;
		padding: 30px 0;
		font-size: 18px;
	}

	.contact-sta-fields > img, 
	.contact-sta-fields > .svg {
		margin: 0 0 25px 0;
	}

	.contact-sta-fields-title {
		margin: 0 0 35px 0;
		font-weight: 400;
	}

	.contact-sta-fields:nth-child(1) .contact-sta-fields-line-one,
	.contact-sta-fields:nth-child(4) .contact-sta-fields-line-one {
		width: 100%;
	}

	.contact-sta-fields:nth-child(1) .content-sta-fields-line-two,
	.contact-sta-fields:nth-child(4) .content-sta-fields-line-two {
		width: 100%;
	}




	/* - - - - - Email Section - - - - - */

	#email-sta {
		margin: 0 0 70px;
		padding: 0;
	}

	#email-sta h3 {
		margin: 0 0 0 5px;
		font-size: 24px;
	}

	.email-sta-form {
		width: 100%;
		margin: 0 0 30px 0;
		padding: 40px;
	}

	.email-sta-form-left-col {
		width: 280px;
	}

	.email-sta-form .form-input-wrapper:last-child input,
	.email-sta-form textarea {
		margin: 0;
	}

	.email-sta-form textarea {
		width: 497px;
	}
}

@media (min-width: 1366px) {

	/* - - - - - Contact Section - - - - - */
	#contact-sta {
		padding: 0 37px 0 0;
	}

	.page-content-heading {
		margin: -11px 0 36px 0;
	}


	/* - - - - - Email Section - - - - - */
	#email-sta {
		margin: 0 0 300px 0;
		padding: 0 37px 0 0;
	}
}