#event-slider {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	position: relative;
/*	margin: 0 0 86px 0;*/
        margin: 0 0 96px 0;
}

#events {
	position: relative;
	padding: 0 20px;
}

.page-content-heading {
	margin: -1px 0 35px 1px;
}

.icon-heading-bullet-default {
	width: 22px;
	height: 12px;

	display: inline-block;
	vertical-align: middle;
}

#events h3 {
	width: 72%;
	margin: 0 0 0 5px;
	display: inline-block;
	color: rgb(121, 94, 107);
	font-family: "PTSerif-Regular", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
}

#events-prev-next {
	position: absolute;
	right: 18px;
	top: -2px;
	font-family: "PTSans", sans-serif;
	font-size: 18px;
	color: rgb(121,94,107);
}

#events-prev-next a {
	color: rgb(121,94,107);
}

#events-prev-next a:hover span {
	text-decoration: none;
}

#events-prev-img {
	margin: 0 4px 2px 0;
	width: 8px;
	height: 8px;
}

#events-next-img {
	margin: 0 0 2px 6px;
	width: 8px;
	height: 8px;
}

#events-prev-text,
#events-next-text {
	display: none;
	text-decoration: underline;
}

#events-prev-text {
	margin: 3px 10px 0 0;
}

#events-next-text {
	margin: 3px 0 0 10px;
}

.event-date, .event-time {
    color: rgb(121, 94, 107);
    display: inline-block;
    position: relative;
    font-family: "PTSans",sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.event-date {
	padding: 0 12px 0 0;
	text-transform: uppercase;
	/*border-right: 1px solid rgb(121,94,107);*/
}

.event-date::after {
	width: 2px;
	height: 15px;
	display: inline-block;
	position: absolute;
	right: -1px;
	top: 5px;
	content: "";
	background: rgb(121, 94, 107) none repeat scroll 0 0;
}

.event-time {
	padding: 0 0 0 15px;
}


#event-description {
	margin: 8px 0 21px;
	color: rgb(153,153,153);
	font-family: "PTSans", sans-serif;
	line-height: 21px;
	font-size: 14px;
}

#events-page-outdoor-decking-tips {
	width: 100%;
	height: 220px;
	margin: 33px 0 30px 0;
  	position: absolute;
  	top: 0;
  	left: 0;
	overflow: hidden;
}

#events-page-outdoor-decking-tips img {
	width: 100%;
	position: absolute;
	/*top: -321px;*/
	top: 0;
	right: -62px;
	left: auto;
}

#event-page-outdoor-decking-tips-info {
	margin: 252px 0 0;
}

#event-form {
	position: relative;
}

#event-contact-form-container {
	width: 100%;
	display: inline-block;
}

#event-contact-form {
	height: 100%;
	margin: 0 0 18px 0;
	padding: 20px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: rgb(243, 243, 243);
}

#event-contact-form input {
	/*width: 280px;*/
	width: 100%;
	height: 40px;
	display: table;
	margin: 0 auto 20px;
	padding: 4px 14px 0;
	color: rgb(204,204,204);
	font-family: "PTSans";
	font-size: 16px;
	border: medium none;
}

#event-contact-form .form-input-wrapper:last-child input {
	margin: 0 auto;
}

#register-interest-btn {
	/*width: 130px;*/
	width: 41%;
	cursor: pointer;
}

#register-interest-btn span {
	display: none;
}

#event-venue-details {
	width: 100%;
	height: 293px;
	display: inline-block;
	margin: 0 0 59px;
	position: relative;
	top: -4px;
}

#event-venue-details-content {
	height: 100%;
	margin: 0;
	padding: 17px 20px;
	color: rgb(121,91,07);
	font-family: "PTSans";
	font-size: 18px;
	background-color: rgb(249,249,249);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#event-venue-details-content h6,
#event-venue-details-content p,
#event-venue-details-content a {
	font-size: 14px;
}

#event-venue-details-content a {
	/*text-decoration: underline;*/
}

#event-venue-details-content h6,
#event-venue-details-content a {
	color: rgb(121,94,107);
	line-height: 21px;
}

#event-venue-details-content p {
	margin: 0 0 9px;
	color: rgb(153,153,153);
	line-height: 21px;
}

#view-map {
	font-family: "PTSansBold", sans-serif;
	color: rgb(121,94,107);
}

#view-map span {
	text-decoration: underline;
}

#view-map:hover span {
	text-decoration: none;
}

#view-brochure {
	font-family: "PTSansBold",sans-serif;
	text-decoration: underline;
}
span.view-brochure {
        display: none;
}

#view-brochure:hover {
	text-decoration: none;
}

#event-venue-details-content p:nth-child(6) {
	max-height: 65px;
	overflow: hidden;
}

.share-this-event-btn {
	/*width: 130px;*/
	width: 41%;
	position: absolute;
	top: calc(100% + 338px);
	right: 20px;
}

.share-this-event-btn span {
	display: none;
}

.form-success-msg {
	/*width: 100%;*/
	height: 398px;
	/*position: absolute;
	top: 294px;
	left: 0;*/
	padding: 139px 20px;
	border-radius: 0px;
	background-color: rgb(121,94,107);
        position: relative;
        z-index: 3;
}

.form-success-msg-btn {
	color: rgb(121,94,107);
}



@media (min-width: 768px) and (max-width: 1023px) {
	#events-page-outdoor-decking-tips img {
		width: 100%;
		height: auto;
		position: absolute;
		/*top: -321px;*/
		top: 0;
		right: 0px;
	}
}

@media (min-width: 1024px) {
	#event-slider {
		width: 100%;
		margin: 0 0 156px;
	}

	#events {
		padding: 0;
	}

	.page-content-heading {
		margin: 0 0 35px 0;
	}

	.icon-heading-bullet-default {
		width: 32px;
		height: 18px;
	}

	#events h3 {
		margin: 0 0 0 8px;
		font-size: 24px;

		width: 93%;
	}

	#events-prev-next {
		position: absolute;
		right: 0;
		top: 3px;
	}

	#events-prev-text,
	#events-next-text {
		display: inline-block;
	}

	.event-date, .event-time {
		font-size: 18px;
		line-height: 27px;
	}

	.event-date {
		padding: 0 17px 0 0;
	}

	.event-time {
		padding: 0 0 0 17px;
	}

	#event-description {
		margin: 16px 0 32px;
		font-size: 18px;
		line-height: 27px;
	}

	#events-page-outdoor-decking-tips {
		width: 100%;
		height: 220px;
	  	position: relative;
		margin: 0 0 25px 0;
		border-radius: 5px;
		overflow: hidden;
	}

	#events-page-outdoor-decking-tips img {
		position: absolute;
	  	/*top: -317px;*/
	  	top: 0px;
	  	left: 0;
	}

	#event-page-outdoor-decking-tips-info {
		margin: 0;
		font-size: 18px;
	}

	#event-contact-form-container {
		width: 41%;
		height: 360px;
		position: absolute;
		top: 0;
		left: 0;
	}

	#event-contact-form {
		height: 100%;
		margin: 0 0 40px 0;
		padding: 40px;
	}

	#event-contact-form input {
		font-size: 18px;
	}

	#register-interest-btn {
		width: 100%;
	}

	#register-interest-btn span {
		display: inline-block;
	}

	#event-venue-details {
		width: 100%;
		height: 360px;
		display: inline-block;
		margin: -3px 0 0 0;
		position: relative;
		/*top: -116px;
		left: 0;*/
		vertical-align: top;
	}

	#event-venue-details-content {
		width: 59%;
		margin: 0 0 40px;
		padding: 28px 35px 25px 39px;
		position: absolute;
		top: 0;
		right: 0;
	}

	#event-venue-details-content h6,
	#event-venue-details-content p,
	#event-venue-details-content a {
		font-size: 18px;
	}

	#event-venue-details-content h6,
	#event-venue-details-content a {
		line-height: 40px;
	}

	#event-venue-details-content p {
		margin: 0;
		/*line-height: 27px;*/
		line-height: 14px;
	}

	#event-venue-details-content p:nth-child(4) {
		margin: 0 0 13px 0;
	}

	#event-venue-details-content p:nth-child(6) {
		max-height: 65px;
		margin: -5.8px 0 7px;
		line-height: 27px;
		overflow: hidden;
	}

	/*#event-venue-details-content p:nth-child(3) {
		margin: 0 0 9px 0;
	}*/

	.share-this-event-btn {
		width: 200px;
		position: absolute;
		top: calc(100% + 40px);
		right: 0;
	}

	.share-this-event-btn span {
		display: inline-block;
	}

	.form-success-msg {
		width: 880px;
		height: 440px;
		padding: 160px 0;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 4px;
	}
}

@media (min-width: 1366px) {
	#event-slider {
		width: 100.3%;
		margin: -11px 0 300px;
		padding: 0 40px 0 0;
	}

	.page-content-heading {
		margin: 0 0 36px 0;
	}

	#event-description {
		margin: 16px 0 28px;
	}
	
	#event-venue-details {
		margin: 0;
	}

	#event-venue-details-content {
		padding: 28px 35px 25px 40px;
	}

	.form-success-msg {
		/*width: 877px;*/
		width: 100%;
	}
}


#input-last-child {
	margin: 0 !important;
}