#member-result-container > li{
	/*display: none;*/
}

#member-result-container li:nth-child(-n+3) {
    /*display:block;*/
}

#members-listing {
	width: 100%;
	display: inline-block;
	margin: 0 0 60px 0;
	padding: 0 20px;
	position: relative;
	vertical-align: top;
	font-family: "PTSans", sans-serif;
}

.page-content-heading {
	margin: -1px 0 26px 0;
}

.icon-heading-bullet-default {
	width: 22px;
	height: 12px;
}

#members-listing h3 {
	margin: 0 0 0 5px;
	display: inline-block;
	color: rgb(121, 94, 107);
	font-family: "PTSerif-Regular", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

#member-listing div:last-child {
	border: none;
}

#member-search-field-container {
	position: relative;
	margin: 0 0 20px 0;
}

#member-search-field {
	width: 100%;
	height: 40px;
	padding: 4px 0 0 12px;
	color: rgb(255,255,255);
	background-color: rgb(121, 94, 107);
	font-family: "PTSans";
	font-size: 16px;
	border: medium none;
	border-radius: 5px;
}

#member-search-cancel-btn {
	width: 14px;
	height: 14px;
	position: absolute;
	top: 50%;
	right: 12px;
	cursor: pointer;
	border: medium none;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("../img/icons/cross-symbol.svg");
	background-size: cover;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

#member-search-cancel-btn-img {
	display: none;
}

#member-search-btn {
	width: 100%;
	margin: 0 0 20px 0;
	cursor: pointer;
}

#member-search-result-number {
	/*height: 40px;*/
	padding: 7px 0 2px;
	text-align: center;
	color: rgb(154,160,108);
	font-size: 17px;
	line-height: 27px;
	letter-spacing: -0.4px;
	border-top: 2px solid rgb(243,243,243);
	border-bottom: 2px solid rgb(243,243,243);
}

.member-search-result-items {
	/*padding: 36px 0 35px;*/
	padding: 36px 0 25px;
	font-size: 16px;
	line-height: 24px;
	color: rgb(62,111,120);
	border-bottom: 2px solid rgb(243,243,243);
}

.member-search-result-items:last-child {
	border-bottom: none;
}

.member-search-result-items:nth-child(6) {
	/*border-bottom: none;*/
}

.member-search-result-items h5 {
	font-size: 16px;
	font-weight: 700;
}

.member-search-result-items p {
	color: rgb(62,111,120);
	font-size: 16px;
}

.member-search-result-items address, .member-search-result-items div {
	margin: 0 0 24px;
}

.member-search-result-items div:last-child {
	margin: 0;
}

.member-search-result-items span {
	width: 100%;
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
}

.member-products-services p {
	line-height: 24px;
}



/* - - - - - Changing colour of the even child - - - - - */

.member-search-result-items:nth-child(even) {
	color: rgb(154,160,108);
}

.member-search-result-items:nth-child(even) p {
	color: rgb(154,160,108);
}


#load-more-members-btn {
	margin: 0 0 20px 0;
}

#member-back-to-the-top {
	width: 100%;
	height: 40px;
	display: inline-block;
	padding: 7px 0;
	text-align: center;
	color: rgb(154,160,108);
	font-size: 17px;
	line-height: 27px;
	letter-spacing: -0.4px;
	border-top: 2px solid rgb(243,243,243);
	border-bottom: 2px solid rgb(243,243,243);
}

/*--- edited ---*/




@media (min-width: 1024px) {
	#members-listing {
		width: 100%;
		margin: 0 0 80px;
		padding: 0;
	}

	.page-content-heading {
		margin: 0 0 35px 0;
	}

	.icon-heading-bullet-default {
		width: 32px;
		height: 18px;
	}

	#members-listing h3 {
		margin: 0 0 0 5px;
		font-size: 24px;
	}

	#member-search-field {
		font-size: 18px;
	}

	#member-search-result-number {
		padding: 6px 0 2px;
		font-size: 18px;
		letter-spacing: 0;
	}

	.member-search-result-items {
		font-size: 18px;
		padding: 36px 0 33px;
		font-size: 16px;
		line-height: 27px;
	}

	.member-search-result-items address, .member-search-result-items div {
		margin: 0 0 27px;
	}

	.member-search-result-items h5 {
		font-size: 18px;
	}

	.member-search-result-items p {
		font-size: 18px;
	}

	.member-search-result-items span {
		font-size: 18px;
		line-height: 10px;
	}
	
	#member-back-to-the-top {
		padding: 6px 0;
		font-size: 18px;
		letter-spacing: 0;
	}


	/*---edited---*/

}

@media (min-width: 1366px) {
	#members-listing {
		margin: 0 0 278px;
		padding: 0 37px 0 0;
	}
	
	#members-listing {
		margin: -10px 0 278px;
	}
}
