#privacy {
	width: 100%;
	position: relative;
	margin: 0 0 40px;
	padding: 0 20px;
	display: inline-block;
	vertical-align: top;
}

.page-content-heading {
	margin: -1px 0 26px 0;
}

.icon-heading-bullet-default {
	width: 22px;
	height: 12px;
}

#privacy h3 {
	margin: 0 0 0 5px;
	display: inline-block;
	color: rgb(121, 94, 107) !important;
	font-family: "PTSerif-Regular", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

.privacy-item {
	margin: 0 0 16px;
}

.privacy-item img {
	width: 40px;
	height: 40px;
	margin: 0;
	position: absolute;
}

.privacy-item-details {
	width: 100%;
	display: inline-block;
	margin: 24px 0 0;
	vertical-align: top;
}

.privacy-item-details h5 {
	margin: 0 0 8px 50px;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
}

#privacy-page-timber-grading .privacy-item-details h5 {
	color: rgb(201,105,65);
}

#privacy-page-second-opinions .privacy-item-details h5 {
	color: rgb(154,159,108);
}

#privacy-page-course-arrangement .privacy-item-details h5 {
	color: rgb(63,111,120);
}

.privacy-item-details p {
	font-size: 14px;
	line-height: 21px;
	color: rgb(153,153,153);
}

@media (min-width: 1024px) {
	#privacy {
		padding: 0;
	}

	.page-content-heading {
		margin: 0 0 40px 0;
	}

	.icon-heading-bullet-default {
		width: 32px;
		height: 18px;
	}

	#privacy h3 {
		margin: 0 0 16px 6px;
		font-size: 24px;
	}

	.privacy-item {
		margin: 0 0 54px;
	}

	.privacy-item img {
		width: 220px;
		height: 220px;
		/*margin: 0 40px 0 0;*/
		margin: 0 36px 0 0;
		position: relative;
	}

	.privacy-item-details {
		width: 69%;
		margin: -5px 0 0;
	}

	.privacy-item-details h5 {
		margin: 0 0 15px;
		font-size: 18px;
		line-height: 27px;
	}

	.privacy-item-details p {
		font-size: 18px;
		line-height: 27px;
	}
}

@media (min-width: 1366px) {
	#privacy {
		margin: -11px 0 300px;
		padding: 0 40px 0 0;
	}
}

.ol-decimal {
	/*width: 785px;
	margin: 0 auto;*/
	list-style-type: decimal;
	text-align:left;
	padding-left:20px;
	color: rgb(119,119,119);
	font-size: 16px;
}
.ol-decimal > li {
	margin: 0 0 10px;
	padding: 0 0 0 10px;
	line-height: 25px;
}
.ol-decimal > li:last-child {
    margin-bottom: 30px;
}
.ol-lower-alpha {
	margin: 6px 0 0 25px;
	list-style-type: lower-alpha;
}
.ol-lower-alpha > li {
	margin: 0 0 6px;
	padding: 0 0 0 10px;
	line-height: 20px;
}