#services {
	width: 100%;
	position: relative;
	margin: 0 0 39px;
	padding: 0 20px;
	display: inline-block;
	vertical-align: top;
}

.page-content-heading {
	margin: -1px 0 26px 0;
}

.main-content-bullet-1 {
	width: 22px;
	height: 12px;
}

#services h3 {
	margin: 0 0 0 5px;
	display: inline-block;
	color: rgb(121, 94, 107);
	font-family: "PTSerif-Regular", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

.service-item {
	margin: 0 0 16px;
}

.service-item img {
	width: 40px;
	height: 40px;
	margin: 0;
	position: absolute;
}

.service-item-details {
	width: 100%;
	display: inline-block;
	margin: 24px 0 0;
	vertical-align: top;
}

.service-item-details h5 {
	margin: 0 0 8px 50px;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
}

#services-page-timber-grading .service-item-details h5 {
	color: rgb(201,105,65);
}

#services-page-second-opinions .service-item-details h5 {
	color: rgb(154,159,108);
}

#services-page-course-arrangement .service-item-details h5 {
	color: rgb(63,111,120);
}

.service-item-details p {
	font-size: 14px;
	line-height: 21px;
	color: rgb(153,153,153);
}

@media (min-width: 1024px) {
	#services {
		padding: 0;
		margin: 0 0 40px;
	}

	.page-content-heading {
		margin: 0 0 40px 0;
	}

	.main-content-bullet-1 {
		width: 32px;
		height: 18px;
	}

	#services h3 {
		margin: 0 0 16px 6px;
		font-size: 24px;
	}

	.service-item {
		margin: 0 0 54px;
	}

	.service-item img {
		width: 220px;
		height: 220px;
		/*margin: 0 40px 0 0;*/
		margin: 0 36px 0 0;
		position: relative;
	}

	.service-item-details {
		width: 69%;
		margin: -5px 0 0;
	}

	.service-item-details h5 {
		margin: 0 0 15px;
		font-size: 18px;
		line-height: 27px;
	}

	.service-item-details p {
		font-size: 18px;
		line-height: 27px;
	}
}

@media (min-width: 1366px) {
	#services {
		margin: -11px 0 300px;
		padding: 0 40px 0 0;
	}
}
