#aside-section {
	width: 100%;
	display: inline-block;
	padding: 0 20px 60px;
	position: relative;
}

#upcoming-events {
	margin: 0 0 80px;
	position: relative;
	/*overflow: hidden;*/
}

#upcoming-events-title-bullet {
	width: 21px;
	height: 12px;
}

#upcoming-events > h3 {
	margin: 0 0 0 32px;
	display: inline-block;
	color: rgb(121, 94, 107);
	font-family: "PTSerif-Regular", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

#upcoming-events > h3::before {
	width: 21px;
	height: 12px;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	background-image: url("../img/icons/icon-heading-bullet-default.svg");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 21px 12px;
}

/* ===== Start Upcoming Events Prev Next ===== */

@media (max-width: 1023px) {
	#upcoming-events-prev-next {
		display: none;
	}
}

@media (min-width: 1024px) and (max-width: 1365px) {
	#upcoming-events-prev-next {
		position: absolute;
		right: 0;
		top: 6px;
		font-family: "PTSans", sans-serif;
		font-size: 18px;
		color: rgb(121,94,107);
	}

	#upcoming-events-prev-next a {
		color: rgb(121,94,107);
	}

	#upcoming-events-prev-next a:hover span {
		text-decoration: none;
	}

	#upcoming-events-prev-img {
		margin: 0 4px 2px 0;
		width: 8px;
		height: 8px;
	}

	#upcoming-events-next-img {
		margin: 0 0 2px 6px;
		width: 8px;
		height: 8px;
	}

	#upcoming-events-prev-text,
	#upcoming-events-next-text {
		/*display: none;*/
		text-decoration: underline;
	}

	#upcoming-events-prev-text {
		margin: 3px 10px 0 0;
	}

	#upcoming-events-next-text {
		margin: 3px 0 0 10px;
	}

	/*#events-prev-next {
		position: absolute;
		right: 0;
		top: 3px;
	}

	#events-prev-text,
	#events-next-text {
		display: inline-block;
	}*/
}

@media (min-width: 1366px) {
	#upcoming-events-prev-next {
		display: none;
	}
}

/* ===== End Upcoming Events Prev Next ===== */

.upcoming-events-list {
	margin: 17px 0 20px;
	overflow: hidden;
}

#owl-demo {
	display: none !important;
}

.upcoming-event-item {
	width: 100%;
	position: relative;
	padding: 20px 0 19px;
	border-top: 2px dotted rgb(204,204,204);
}

/*.upcoming-event-item:nth-child(3) {
	border-bottom: 2px dotted rgb(204,204,204);
}*/

.upcoming-event-item:last-child {
	border-bottom: 2px dotted rgb(204,204,204);
}

.more-upcoming-events {
	display: none;
}

.more-upcoming-events .upcoming-event-item:first-child {
	border-top: none;
}

.upcoming-event-date {
	width: 80px;
	height: 80px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.upcoming-event-month {
	width: 100%;
	display: block;
	margin: 0 auto;
	padding: 8px 0 4px;
	font-family: "PTSansBold", sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	background-color: rgb(121, 94, 107);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.upcoming-event-day {
	display: block;
	padding: 7px 0 4px;
	color: rgb(121, 94, 107);
	font-family: "PTSansBold";
	font-size: 37px;
	background-color: rgb(238, 238, 238);
	border: 1px solid rgb(121, 94, 107);
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.upcoming-event-detail {
	width: 64%;
	display: inline-block;
	/*margin: 0 0 0 20px;*/
	margin: 2px 0 0 20px;
	/*line-height: 8px;*/
}

.upcoming-event-detail a {
	position: relative;
}

.upcoming-event-detail span,
.upcoming-event-detail a {
	display: inline-block;
	color: rgb(153,153,153);
	font-size: 18px;
	line-height: 24px;
	position: relative;
}

.upcoming-event-detail span {
	width: 100%;
	font-family: "PTSans", sans-serif;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.upcoming-event-detail span:first-child {
	text-transform: capitalize;
}

.upcoming-event-detail a {
	width: 100%;
	height: auto;
	padding: 0;
	color: rgb(121,94,107);
	font-family: "PTSansBold", sans-serif;
	text-decoration: underline;
	text-transform: capitalize;
}

.upcoming-event-detail a:hover {
	text-decoration: none;
}

.upcoming-event-detail a:after {
	width: 25px;
	height: 100%;
	position: absolute;
	top: 0
	left: 0;
	content: "";
	background-image: url("../img/icons/navigation-right-arrow.svg");
	background-repeat: no-repeat;
	background-position: center 9px;
	background-size: 8px 8px;
}

@media (min-width: 1024px) and (max-width: 1365px) {
	#owl-demo {
		display: inline-block !important;
	}

	.more-upcoming-events .upcoming-event-item:first-child {
		border-top: 2px dotted rgb(204,204,204);
	}
}

@media (min-width: 1024px) {
	.upcoming-events-list {
		margin: 16px 0 20px;
	}
	.upcoming-event-item {
		padding: 20px 0 19px;
	}
}

@media (min-width: 1366px) {
	.upcoming-event-item {
		padding: 20px 0 19px;
	}
}




/* - - - - - Advertisement Section - - - - - */

#aside-advertisements {
	text-align: center;
}

.ad-item {
	width: 280px;
	height: 280px;
	display: inline-block;
	margin: 0 0 16px 0;
	position: relative;
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
}

.ad-item > img {
	width: 100%;
	height: 100%;
	transition: 500ms ease;
}

#ad-commercial-outdoor:hover img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.ad-item a {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.ad-title {
	width: 100%;
	height: 80px;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 14px 5px;
	color: rgb(255,255,255);
	background-color: rgba(0, 0, 0, 0.75);
	font-family: "PTSans", sans-serif;
	font-size: 18px;
	line-height: 27px;
}

.ad-title > span {
	width: 100%;
	display: inline-block;
}

/*.ad-title > a {
	display: inline-block;
	color: rgb(255,255,255);
}

.ad-title > a:hover {
	color: rgb(200,200,200);
}*/


/* - - - - - Work Complete - - - - - */

@media (min-width: 500px) {
	.ad-item {
		margin: 0 10px 20px;
	}
}

/*@media (min-width: 768px) {
	.ad-item {
		margin: 0 10px 20px;
	}
}*/

@media (min-width: 1024px) {
	#aside-section {
		width: 100%;
		padding: 0;
	}

	#upcoming-events {
		margin: 60px 0 58px;
	}

	#upcoming-events-title-bullet {
		width: 32px;
		height: 18px;
	}

	#upcoming-events > h3 {
		margin: 0 0 0 41px;
		font-size: 24px;
	}

	#upcoming-events > h3::before {
		width: 32px;
		height: 18px;
		background-size: 32px 18px;
		position: absolute;
		top: 0;
		left: 0;
	}

	.upcoming-events-list {
		border: none;
		margin: 33px 0 0 0;
	}

	.upcoming-event-item {
		width: 280px;
		display: inline-block;
		/*margin: 0 16px 0 0;*/
		margin: 0;
		vertical-align: top;
		border-bottom: 2px dotted rgb(204,204,204);
	}

	.upcoming-event-item:nth-child(3),
	.upcoming-event-item:last-child {
		margin: 0;
	}

	#btn-load-more-events {
		display: none;
	}

	#aside-advertisements {
		padding: 60px 0 57px;
		text-align: center;
	}

	.ad-item {
		display: inline-block;
		margin: 0 20px;
	}

}

@media (min-width: 1024px) and (max-width: 1365px) {
	#upcoming-events::before {
		width: calc(100% + 486px);
		height: 2px;
		position: absolute;
		top: -60px;
		left: -243px;
		content: "";
		border-top: 2px solid rgb(243,243,243);
	}

	#upcoming-events::after {
		width: calc(100% + 486px);
		height: 2px;
		position: absolute;
		bottom: -58px;
		left: -243px;
		content: "";
		border-top: 2px solid rgb(243,243,243);
	}
}

@media (min-width: 1366px) {
	#upcoming-events > h3::before {
		position: absolute;
		top: 0;
		left: 43px;
	}

	#aside-section {
		width: 26%;
		display: table-cell;
	}

	#aside-section::before {
		width: 2px;
		height: 100%;
		margin: 74px 0 0;
		position: absolute;
		top: 0;
		left: 2px;
		content: "";
		background-color: rgb(243, 243, 243);
	}

	#upcoming-events {
		margin: 0;
		padding: 0 0 40px 43px;
		border-bottom: 2px solid rgb(243,243,243);
	}

	.upcoming-events-list {
		margin: 34px 0 0;
	}

	.upcoming-event-item {
		border-bottom: none;
	}

	.upcoming-event-item:last-child {
		border-bottom: 2px dotted rgb(204,204,204);
	}

	#btn-load-more-events {
		display: inline-block;
		margin: 36px 0 0 0;
	}

	#aside-advertisements {
		margin: 0;
		padding: 40px 0 40px 43px;
		text-align: inherit;
	}

	.ad-item {
		display: inherit;
		margin: 0 0 40px;
	}

	.ad-item:last-child {
		margin: 0;
	}
}





/* ===== Slider For 1024p Screen ==== */

#owl-demo {
	margin: 34px 0 0;
}
.owl-carousel {
	display: inline-block;
}

/*#upcoming-event-list-view {
	display: inline-block;
}*/

#upcoming-event-slider-view {
	display: none;
}

#list-upcoming-events-slider {
	/*width: 5000px;*/
}

@media (min-width: 1024px) and (max-width: 1365px) {
	#upcoming-event-list-view {
		display: none;
	}
	#upcoming-event-slider-view {
		display: inline-block;
	}
}

@media (min-width: 1366px) {
	#owl-demo {
		margin: 40px 0;
		display: none !important;
	}

	#upcoming-event-list-view {
		display: inline-block;
	}
	#upcoming-event-slider-view {
		display: none;
	}
}





/* ===== Owl Carousel 2 ===== */

.owl-nav {
	display: inline-block;
	position: absolute;
	top: -52px;
	right: 19px;
	font-family: "PTSans";
	font-size: 18px;
	text-transform: capitalize;
	color: rgb(121, 94, 107);
}

.owl-nav > div.disabled {
	color: rgb(170, 170, 170);
	text-decoration: none;
	cursor: default !important;
}

.owl-prev {
	display: inline-block;
	margin: 0 17px 0 0;
	position: relative;
	text-decoration: underline;
}

.owl-prev:hover {
	text-decoration: none;
}

.owl-prev::before {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -17px;
	content: "<";
}

.owl-prev::after {
	width: 2px;
	height: 16px;
	position: absolute;
	top: 0;
	left: 49px;
	content: "";
	background-color: rgb(121, 94, 107);
}

.owl-next {
	display: inline-block;
	margin: 0 0 0 17px;
	position: relative;
	text-decoration: underline;
}

.owl-next:hover {
	text-decoration: none;
}

.owl-next::after {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: -47px;
	content: ">";
}